.container {
  width: 80% !important;
}

a.disabled {
  opacity: 0.7;
  cursor: default;
  pointer-events: none;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.rating-stars {
  color: #FFD700;
}

.rating-number {
  color: rgba(0, 0, 0, 0.87);
}

#indexSearchBar {
  padding-left: 0;
}

.games-list li {
  padding: 0 !important;
}

.games-list .cover-pic-container {
  height: 150px;
  padding: 0 !important;
  border-right: 1px solid rgb(224, 224, 224);
}

.games-list .cover-pic-container img {
  max-width: 100%;
  max-height: 150px;
  margin: 0 auto;
}

.games-list .primary-content {
  padding-top: 10px;
}

.games-list .primary-content .title {
  font-size: 25px !important;
  margin-bottom: 10px;
}

#sorting {
  margin-bottom: 5px;
}

.checkbox-list label {
  color: black;
  max-width: 100%;
}

/*Attempt to force sweet alert to wrap text*/
div.sweet-alert.show-input.showSweetAlert > h2 {
  word-wrap: break-word;
}

.formError{
  color:red;
}

.smallText{
  font-size: small;
}
.mediumText{
  font-size: medium;
}

 .divWithShelves select{
   margin-bottom: 0
 }

.btn.inactive {
  background-color:lightblue;
}

#games-list-header p {
  margin: 0;
}

#games-list-header p:last-child {
  padding-right: 0;
}

.ul_game_list {
  margin-top: 5px;
}

.div_none {
  margin-top: 5px;
}

.filters-row {
  margin-bottom: 0;
}

.select-title {
  font-weight: bold;
  margin-bottom: 0;
}

.games-count {
  margin-top: 0;
}

.games-count {
  font-weight: bold;
}

.reviews-list .title {
  font-size: 20px !important;
}

.slick-carousel img {
  max-height: 200px;
  width: 100%;
  padding: 0 5px;
}

#screenshots-carousel img {
  max-height: 200px;
  width: initial;
  max-width: 100%;
  padding: 0 5px;
  margin: 0 auto;
}

.slick-carousel .slide-container .slide-image {
  height:200px;
}

.slick-carousel .slide-container .slide-image > a {
  width: 100%;
}

.slick-carousel .slide-container .slide-text {
  overflow-wrap: break-word;
  margin-top: 5px;
}

.slick-carousel .slide-container .slide-text > a {
  color: black;
}

.slick-prev:before, .slick-next:before {
  color: grey !important;
}

.select-title {
  font-weight: bold;
  margin-bottom: 0;
}

.select-drop-down {
  margin-bottom: 0;
}

.select-wrapper.select-drop-down {
  padding-left: 0;
}

/*Apply 'selected' style to chips not within a 'chips' element*/
.chip.selected {
  background-color: #26a69a;
  color: #fff;
}

.chip {
  cursor: pointer;
}

.collapsible-body div.filter {
  margin: 5px !important;
}

.action-links a, .reply-action-links a.toggle-replies {
  font-weight: 500
}

.reply-action-links a.toggle-replies:hover {
  text-decoration: underline;
}

button#clear-filters, button#submit-search {
  height:56px;
  box-shadow: none;
}

button#submit-search {
  margin-left: 5px;
}

.new-comment {
  // TODO what to do? Border color? Background color? If changing background or border, remember to use !important
}

.preserve-newlines {
  white-space: pre-line;
}

.wrap-text {
  word-wrap: break-word;
}

/*#logo-container {*/
/*height: 60px;*/
/*}*/

/* Sticky footer rules */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

$fontSizeStr: 16px;
$fontSizeInt: 16;
$lineHeight: 1.5;
$maxLines: 3;

<!--/* Multi-line clamping adapted from http://codepen.io/martinwolf/pen/qlFdp */-->
.summary {
  margin: 5px auto 0 auto !important;
  display: -webkit-box;
  //display: block; /* Fallback for non-webkit */
  max-width: 100%;
  font-size: $fontSizeStr;
  line-height: $lineHeight;
  -webkit-line-clamp: $maxLines;
  height: $fontSizeStr * $lineHeight * $maxLines; /* Fallback for non-webkit */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
