### NPM
node_modules/

### Bower
bower_components/

dist/
.tmp/
.sass-cache/
.editorconfig


### Mac stuff
.DS_Store


### Dropbox
**.dropbox
**.dropbox.attr
**.dropbox.cache


### IDEA
**.idea/

### Reference implementation
JOSE/

## Flyway stuff
flyway.conf