<div class="container">
  <!--User not logged in-->
  <div ng-if="userId == undefined">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div style="padding-top: 50px" align="left">
          <h3>{{'trade_signin' | translate}}</h3>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

  <!--User attempts to make an offer to himself-->
  <div ng-if="offererId == userId">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div style="padding-top: 10px">
          <h3 style="text-align: center">{{'trade_diffuser' | translate}}</h3>
          <img style="display:block;margin:auto;padding-top: 30px" ng-src="https://pbs.twimg.com/profile_images/1909203171/Forever-Alone-tumb-ps3-300x300_400x400.jpg">
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

  <!--User has no available offers -->
  <div ng-if="offers.length == 0 && userId != undefined && offererId != userId">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div style="padding-top: 50px" align="left">
          <h3>{{'trade_nooffers' | translate}}</h3>
          <div style="padding-top: 15px">
            <a class="btn btn-primary" href="/#/newoffer">{{'userpage_upload' | translate}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>


    <form class="form" role="form" ng-submit="trade()" accept-charset="UTF-8">

      <div class="row">
        <div class="col-md-12">
          <div ng-if="offers.length > 0 && userId != undefined && offererId != userId">

              <div class="row">
                <div class="col-md-11">
                  <h3 style="padding-top:50px;">{{'trade_please' | translate}}: {{prod.name}} ({{prod.platform.name}}).</h3>
                </div>
                <div class="col-md-1">
                  <div class="row" style="padding-top:70px; padding-right:20px;">
                    <input type="submit"
                      class="btn btn-primary btn-lg pull-right"
                      value="{{'createOffer_done' | translate}}"
                      ng-disabled="tradeForm.interestedOfferId == undefined"/>
                  </div>
                </div>
              </div>


              <div class="row" style="padding-top: 20px;">
                <div class="col-md-12">

                    <div ng-repeat="row in offers">
                      <div class="row">
                        <div ng-repeat="offer in row">
                            <div class="col-md-4">
                              <div class="thumbnail clickable"
                              style="text-align: center; border: dotted;
                              padding: 10px; margin: 5px;"
                              ng-click="selectImage(offer.offerId)"
                              id="offer{{offer.offerId}}">
                                <div class="row" >
                                  <img ng-src='/api/images/offer/{{offer.offerId}}'
                                    alt="offer picture"
                                    onerror="this.src='/images/defaultcover.jpg'"
                                    style="max-height: 220px; max-width: 90%;"/>
                                </div>
                                <div class="row">
                                  <h4>
                                    <div>{{offer.prodName}} ({{offer.platform}})</div>
                                  </h4>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </div>

          </div>
        </div>
      </div>

    </form>

  <div class="col-md-1"></div>
  </div>
</div>
