<main>
    <div class="container">
        <div class="row filters-row">
            <h3 class="header center orange-text">
                Search
            </h3>

            <div class="col s12">
                <div class="col s6 offset-s3 ">
                    <form ng-submit="submitSearch(true)">
                        <div class="input-field">
                            <input placeholder="Title" type="search" ng-model="searchParams.name" name="name"/>
                            <i class="material-icons" style="color:black;" id="search-icon">search</i>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--RESULTS-->
        <div ng-if="games === null" class="center">
            <h5>Searching games...</h5>
            <loadingcircle ></loadingcircle>
        </div>
        <div class="row" ng-show="games !== null">
            <div ng-if="games.length == 0">
                <!--"No results" notice-->
                <h3 class="center">No results</h3>
            </div>
            <div ng-if="games.length > 0">
                <!--Total games count-->
                <div class="row">
                    <div class="games-count col s6">
                        Games {{(gamesPaginator.pagination.pageNumber - 1) * gamesPaginator.pagination.pageSize + 1 }} -
                        {{(gamesPaginator.pagination.pageNumber - 1) * gamesPaginator.pagination.pageSize + games.length}}
                        of {{gamesPaginator.pagination.totalElements}}
                    </div>
                </div>
                <!--End total games count-->
            </div>

            <!--Filters collapsible-->
            <div ng-if="!filtersReady" class="center">
                <h5>Loading filters...this may take a while, please wait</h5>
                <loadingcircle-small></loadingcircle-small>
            </div>
            <div ng-style="{'margin-top': filtersReady ? '0' : '8px'}">
                <button class="btn waves-effect waves-light right" id="submit-search" ng-click="submitSearch(resetPageNumberOnSubmit)">Search <i class="material-icons right">send</i></button>
                <button class="btn waves-effect waves-light right" id="clear-filters" ng-click="clearFilters()">Clear filters <i class="material-icons right">close</i></button>
            </div>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header" id="filters-collapsible">
                    <i class="material-icons">filter_list</i>Filters
                    </div>
                    <div class="collapsible-body">
                        <!--Filter categories-->
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="tab col s3"><a href="#platform" class="active">Platforms</a></li>
                                    <li class="tab col s3"><a href="#genre">Genres</a></li>
                                    <li class="tab col s3"><a href="#developer">Developers</a></li>
                                    <li class="tab col s3"><a href="#publisher">Publishers</a></li>
                                </ul>
                            </div>
                            <!--Filter values-->
                            <div id="platform" class="col s12 filter">
                                <div class="chips chips-autocomplete" id="platform-autocomplete" data-category="platform"></div>
                            </div>
                            <div id="genre" class="col s12 filter">
                                <div class="chips chips-autocomplete" id="genre-autocomplete" data-category="genre"></div>
                            </div>
                            <div id="developer" class="col s12 filter">
                                <div class="chips chips-autocomplete" id="developer-autocomplete" data-category="developer"></div>
                            </div>
                            <div id="publisher" class="col s12 filter">
                                <div class="chips chips-autocomplete" id="publisher-autocomplete" data-category="publisher"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <!--Results, if any-->
            <div ng-if="games.length > 0">
                <!--Sorting-->
                <div ng-if="games.length > 1">
                    <div class="right-align" id="sorting">
                        <!--SORT BY NAME-->
                        <button class="btn waves-effect waves-light" ng-class="{inactive: searchParams.orderBy !== 'name'}" ng-click="changeOrderBy('name')">
                            Name
                            <i class="material-icons right" ng-if="searchParams.orderBy === 'name'">
                                <div ng-switch="searchParams.sortDirection === 'asc'">
                                    <div ng-switch-when="true">arrow_drop_up</div>
                                    <div ng-switch-default>arrow_drop_down</div>
                                </div>
                            </i>
                        </button>

                        <!--SORT BY RELEASE DATE-->
                        <button class="btn waves-effect waves-light" ng-class="{inactive: searchParams.orderBy !== 'release'}" ng-click="changeOrderBy('release')">
                            Release
                            <i class="material-icons right" ng-if="searchParams.orderBy === 'release'">
                                <div ng-switch="searchParams.sortDirection === 'asc'">
                                    <div ng-switch-when="true">arrow_drop_up</div>
                                    <div ng-switch-default>arrow_drop_down</div>
                                </div>
                            </i>
                        </button>

                        <!--SORT BY AVERAGE RATING-->
                        <button class="btn waves-effect waves-light" ng-class="{inactive: searchParams.orderBy !== 'avg_score'}" ng-click="changeOrderBy('avg_score')">
                            Rating
                            <i class="material-icons right" ng-if="searchParams.orderBy === 'avg_score'">
                                <div ng-switch="searchParams.sortDirection === 'asc'">
                                    <div ng-switch-when="true">arrow_drop_up</div>
                                    <div ng-switch-default>arrow_drop_down</div>
                                </div>
                            </i>
                        </button>
                    </div>
                </div>
                <!--End sorting-->
                <!--Games list header-->
                <div class="col s12 center" id="games-list-header">
                    <p class="col s2">Cover Picture</p>
                    <p class="col s7 left-align">Title and Summary</p>
                    <p class="col s1">Release</p>
                    <p class="col s2 right-align">Avg. Rating</p>
                </div>
                <!--End games list header-->
            </div>

            <!--Games list-->
            <ul class="collection games-list" ng-if="games.length > 0">
                <li class="collection-item avatar col s12" ng-repeat="game in games">
                    <div class="col s2 cover-pic-container valign-wrapper">
                        <img class="cover-picture valign" ng-src="{{game.coverPictureUrl}}" alt="{{game.name}}">
                    </div>
                    <div class="col primary-content s7">
                        <p class="title">
                            <a ng-href='#/game?id={{game.id}}'>
                                {{game.name}}
                            </a>
                        </p>
                        <p class="summary" style="display: -webkit-box">{{game.summary}}</p>
                    </div>
                    <div class="col s1 center">
                        <p style="margin-top: 33px;">
                            {{game.releaseDate != null ? (game.releaseDate | date : 'yyyy') : "Unknown" }}
                             <!--TODO get year -->
                        </p>
                    </div>
                    <div class="col s2">
                        <div class="secondary-content">
                            <div ng-switch="(game.avgScore<=10 && game.avgScore>0)">
                                <div ng-switch-when="true">
                                    <p class="rating-number center">
                                        <b><span>{{game.avgScore | number:2}}</span></b>
                                    </p>
                                    <p class="rating-stars hide-on-small-and-down">
                                        <!--range(0,4)-->
                                    <div ng-repeat="i in [0,1,2,3,4]">
                                        <div ng-if="(game.avgScore - (i * 2) - 1 ) < 0">
                                            <i class="material-icons">star_border</i>
                                        </div>
                                        <div ng-if="(game.avgScore - (i * 2) - 1 ) == 0">
                                            <i class="material-icons">star_half</i>
                                        </div>
                                        <div ng-if="(game.avgScore - (i * 2) - 1) > 0">
                                            <i class="material-icons">star</i>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                                <div ng-switch-default>
                                    <p class="rating-number center"><b>Unrated</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!--End games list-->

            <!--Another total games count-->
            <div class="row">
                <div class="games-count col s6">
                    Games {{(gamesPaginator.pagination.pageNumber - 1) * gamesPaginator.pagination.pageSize + 1 }} -
                    {{(gamesPaginator.pagination.pageNumber - 1) * gamesPaginator.pagination.pageSize + games.length}}
                    of {{gamesPaginator.pagination.totalElements}}
                </div>
            </div>
            <!--Another total games count-->
        </div>
    </div>

    <!--PAGINATION-->

    <!--Page size controller-->
    <div ng-show="gamesPaginator.pagination.totalElements > pageSizes[0]" class="row">
        <div class="col s2 offset-s5">
            <label for="page-size">Page Size</label>
            <select id="page-size" class="browser-default" ng-model="searchParams.pageSize">
                <option ng-repeat="pageSize in validPageSizes()" ng-value="pageSize">{{pageSize}}</option>
            </select>
        </div>
    </div>
    <!--End page size-->

    <!-- Page numbers -->
    <div ng-if="gamesPaginator.pagination.totalPages > 1" class="row">
        <ul class="pagination center">
            <!-- Left chevrons - only shown when there are > 1 pages -->
            <!--First page-->
            <li ng-if="gamesPaginator.pagination.totalPages > 1" ng-class="gamesPaginator.pagination.pageNumber > 1 ? 'waves-effect' : 'disabled'">
                <a href="" ng-click="setPageNumber(1)">
                    <i class="material-icons">first_page</i>
                </a>
            </li>
            <!--Previous page-->
            <li ng-if="gamesPaginator.pagination.totalPages > 1" ng-class="gamesPaginator.pagination.pageNumber > 1 ? 'waves-effect' : 'disabled'">
                <a href="" ng-click="setPageNumber(searchParams.pageNumber - 1)">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>

            <!--Page numbers - always shown-->
            <li ng-repeat="pageIt in getPageRange()"  ng-class="pageIt == gamesPaginator.pagination.pageNumber ? 'active' : 'waves-effect'">
                <a href="" ng-click="setPageNumber(pageIt)">{{pageIt}}</a>
            </li>

            <!--Right chevrons - only shown if there are > 1 pages-->
            <!--Next page-->
            <li ng-if="gamesPaginator.pagination.totalPages > 1" ng-class="gamesPaginator.pagination.pageNumber < gamesPaginator.pagination.totalPages ? 'waves-effect' : 'disabled'">
                <a href="" ng-click="setPageNumber(gamesPaginator.pagination.pageNumber + 1)">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            <!--Last page-->
            <li ng-if="gamesPaginator.pagination.totalPages > 1" ng-class="gamesPaginator.pagination.pageNumber < gamesPaginator.pagination.totalPages ? 'waves-effect' : 'disabled'">
                <a href="" ng-click="setPageNumber(gamesPaginator.pagination.totalPages)">
                    <i class="material-icons">last_page</i>
                </a>
            </li>
        </ul>
    </div>
    <!-- End page numbers -->

    <!--END PAGINATION-->
</main>