<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="hidden-xs hidden-sm col-md-2">
            <img src="/images/Column-left.png" class="img-responsive"/>
        </div>
        <div class="col-md-6 col-sm-10">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">

                <!-- Form -->

                <section>
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist">

                                    <li id="1st_step" role="presentation" class="active">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="{{'createOffer_search' | translate}}">
                                            <span class="round-tab">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li id="2nd_step" role="presentation" class="disabled">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="{{'createOffer_share' | translate}}">
                                            <span class="round-tab">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li id="3rd_step" role="presentation" class="disabled">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="{{'createOffer_pic' | translate}}">
                                            <span class="round-tab">
                                                <i class="glyphicon glyphicon-picture"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li id="4th_step" role="presentation" class="disabled">
                                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="{{'createOffer_stepFour_title' | translate}}">
                                            <span class="round-tab">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <form role="form">
                                <div class="tab-content">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <h3>{{'createOffer_stepOne_title' | translate}}</h3>
                                        <p>{{'createOffer_stepOne_subtitle' | translate}}</p>
                                        <input type="text" ng-model="prodname" class="form-control"
                                               name="acname"
                                               typeahead="acname for acname in autoCompleteNames | filter:$viewValue | limitTo:5"
                                               typeahead-append-to-body="true"
                                               autocomplete="off"/>
                                        <ul class="list-inline pull-right top-pad">
                                            <li><button type="submit" ng-click="searchGame()" class="btn btn-primary next-step">{{'createOffer_continue' | translate}}</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step2">
                                        <h3>{{'createOffer_stepTwo_title' | translate}}</h3>
                                        <!--<p>This is step 2</p>-->

                                        <form action="post">
                                        	<div class="form-group" ng-show="!fromProduct">
                                        	    <input type="text" class="form-control" id="productName" ng-model="offerForm.name" path="productName" placeholder="{{'createOffer_gameName' | translate}}"/>
                                        	</div>

                                            <div class="form-group" ng-show="fromProduct">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading text-center">
                                                        {{offerForm.name}}
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <p>{{'createOffer_platform' | translate}}: {{offerForm.platform}}</p>
                                                                <p>{{'createOffer_genre' | translate}}: {{'genres_' + offerForm.genre | translate}}</p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p>{{'createOffer_esrb' | translate}}: {{'esrb_' + offerForm.esrb | translate}}</p>
                                                                <p>{{'createOffer_spmp' | translate}}: {{'mpsp_' + offerForm.mpsp | translate}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        	<div class="form-group">
                                        	    <textarea class="form-control" type="textarea" ng-model="offerForm.description" id="description" placeholder="{{'createOffer_description' | translate}}" path="description" maxlength="1000" rows="7"></textarea>
                                        	</div>

                                        	<div class="row" ng-show="!fromProduct">
                                        	    <div class="col-md-3">
                                        	        <select id="platformSelect" path="platform" ng-model="offerForm.platform" class="form-control" placeholder="{{'createOffer_platform' | translate}}">
                                        	            <option type="text" value="">{{'createOffer_platform' | translate}}</option>
                                                        <option ng-repeat="platform in platforms" value="{{platform.name}}">{{platform.name}}</option>
                                        	        </select>
                                        	    </div>
                                        	    <div class="col-md-3">
                                        	        <select data-style="btn-primary" class="form-control" ng-model="offerForm.esrb" path="esrb" placeholder="ESRB">
                                        	            <option type="text" value="">{{'createOffer_esrb' | translate}}</option>
                                                        <option ng-repeat="esrb in esrbs" value="{{esrb.text}}">{{'esrb_' + esrb.text | translate}}</option>
                                        	        </select>
                                        	    </div>
                                        	    <div class="col-md-3">
                                        	        <select data-style="btn-primary" class="form-control" ng-model="offerForm.mpsp" path="mpsp" placeholder="{{'createOffer_spmp' | translate}}">
                                        	            <option type="text" value="">{{'createOffer_spmp' | translate}}</option>
                                                        <option ng-repeat="mpsp in mpsps" value="{{mpsp.text}}">{{'mpsp_' + mpsp.text | translate}}</option>
                                        	        </select>
                                        	    </div>
                                        	    <div class="col-md-3">
                                        	        <select data-style="btn-primary" class="form-control" ng-model="offerForm.genre" path="genre" placeholder="{{'createOffer_genre' | translate}}">
                                        	            <option type="text" value="">{{'createOffer_genre' | translate}}</option>
                                                        <option ng-repeat="genre in genres" value="{{genre.text}}">{{'genres_' + genre.text | translate}}</option>
                                        	        </select>
                                        	    </div>
                                        	</div>
                                        </form>

                                        <ul class="list-inline pull-right top-pad">
                                            <li><button type="button" class="btn btn-default prev-step" ng-click="previousTab()">{{'createOffer_previous' | translate}}</button></li>
                                            <li><button type="button" ng-click="uploadOffer()" class="btn btn-primary next-step">{{'createOffer_continue' | translate}}</button></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="step3">
                                        <h3>{{'createOffer_stepThree_title' | translate}}</h3>
                                        <p>{{'createOffer_stepThree_subtitle' | translate}}</p>
                                        <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-file-success="successUpload($flow, $file, $message)" flow-error="errorUpload($flow, $file, $message)" class="ng-scope">
                                        <div class="thumbnail" ng-show="!$flow.files.length" >
                                          <img src="/images/logo.png" class="img-responsive" style="max-width: 350px">
                                        </div>
                                        <div class="thumbnail ng-hide" ng-show="$flow.files.length" >
                                          <img flow-img="$flow.files[0]" class="img-responsive" style="max-height: 350px">
                                        </div>
                                        <div class="progress" ng-show="$flow.files.length">
                                          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: ($flow.files[0].progress() * 100) + '%'}" style="width: 100%;">
                                            <span class="sr-only ng-binding"></span>
                                          </div>
                                        </div>
                                        <div ng-show="noImage">
                                          <span class="btn btn-default" ng-show="!$flow.files.length" flow-btn="">{{'createOffer_selectImage' | translate}}<input type="file" style="visibility: hidden; position: absolute;"></span>
                                          <span class="btn btn-info ng-hide" ng-show="$flow.files.length" flow-btn=""><span class="glyphicon glyphicon-random" aria-hidden="true"></span>{{'createOffer_change' | translate}}<input type="file" style="visibility: hidden; position: absolute;"></span>
                                          <span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{'createOffer_remove' | translate}}</span>
                                          <span class="btn btn-success ng-hide" ng-show="$flow.files.length" ng-click="uploadImage($flow)"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>{{'createOffer_upload' | translate}}</span>

                                        </div>


                                        <ul class="list-inline pull-right top-pad">
                                            <li><button type="button" ng-click="nextTab()" class="btn btn-warning btn-info-full next-step" ng-show="noImage">{{'createOffer_skip' | translate}}</button></li>
                                            <li><button id="imgButton" type="button" ng-click="nextTab()" class="btn btn-primary btn-info-full next-step disabled">{{'createOffer_continue' | translate}}</button></li>
                                        </ul>
                                        </div>

                                    </div>
                                    <div class="tab-pane" role="tabpanel" id="complete">
                                        <h3>{{'createOffer_stepFour_title' | translate}}</h3>
                                        <p>{{'createOffer_stepFour_subtitle' | translate}}</p>
                                        <a ng-href="#/offer/{{createdOffer.offerId}}"><button type="button" class="btn btn-success">{{'createOffer_seeOffer' | translate}}</button></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </section>


                </div>
                <div class="col-md-1"></div>
            </div>

        </div>

        <div class="hidden-xs hidden-sm col-md-2">
            <img src="/images/Column-right.png" class="img-responsive">
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>
</div>
