<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
            <img src="/images/Column-left.png" class="img-responsive">

        </div>
        <div class="col-md-12 col-lg-8" style="text-align: center; padding-bottom: 20px">
            <h1>{{'error_pageNotFound' | translate}}</h1>
            <h4><a href='/'>{{'error_return' | translate}}</a></h4>
            <img src="/images/error404.jpg" class="img-responsive center-block" style="max-height: 700px"/>
        </div>
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
            <img src="/images/Column-right.png" class="img-responsive">
        </div>

    </div>
</div>
