<style>

a.right.carousel-control{
	background-image:none;
	cursor: pointer;
}

a.left.carousel-control{
	background-image:none;
	cursor: pointer;
}

ol.carousel-indicators{
	visibility: hidden;
}

.recommendations-carousel span.glyphicon.glyphicon-chevron-right{
	margin-right: -50px;
	color: black;
	font-size: 1.5em;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.recommendations-carousel span.glyphicon.glyphicon-chevron-left{
	margin-left: -50px;
	color: black;
	font-size: 1.5em;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

</style>

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>Trade My Game</h1>
					<h3>{{'index_slogan' | translate}}</h3>
					<hr class="intro-divider">
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.intro-header -->
<div ng-if="loggedId != null && recommendations.length > 0">
	<div class="content-section-b">
		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">{{'home_recommendations' | translate}}</h2>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6"></div>
			</div>
				<div class="recommendations-carousel">
				  <carousel interval="myInterval">
				    <slide ng-repeat="row in recommendations" active="slide.active">
							<div class="row">
								<div ng-repeat="recommendation in row">
									<div class="col-md-4">

										<div class="thumbnail">
												<a class="result" href='/#/offer/{{recommendation.offerId}}' style="text-decoration: none">
													<div class="imgContainer">
															<img ng-src='/api/images/offer/{{recommendation.offerId}}' class="prodImg" onerror="this.src='/images/defaultcover.jpg'"/>
													</div>
													<div class="caption">
															<p class="resultName">{{recommendation.prodName}}({{recommendation.platform}})</p>
													</div>
													<div class="caption">
															<p class="resultsAttributes">{{'home_recommendations_user' | translate}}: {{recommendation.username}}</p>
													</div>
												</a>
										</div>

									</div>
								</div>
							</div>
				    </slide>
				  </carousel>
				</div>
		</div>
	</div>
</div>
<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">{{'index_search_title' | translate}}</h2>
				<p class="lead">{{'index_search_subtitle' | translate}}</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="/images/search.png" alt="">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">{{'index_upload_title' | translate}}</h2>
				<p class="lead">{{'index_upload_subtitle' | translate}}</p>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive" src="/images/upload.png" alt="">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">{{'index_trade_title' | translate}}</h2>
				<p class="lead">{{'index_trade_subtitle' | translate}}</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="/images/trade.png" alt="">
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>
