<div class="container-fluid">

    <div class="row" style="padding-top: 10px">
        <h3 style="margin-bottom: 25px; text-align: center; padding-top: 25px;">{{'register_create' | translate}}</h3>
    </div>
    <form class="form" name='form' role="form" ng-submit="register()" accept-charset="UTF-8">
        <div class="row" style="padding-bottom: 35px">

            <div class="col-md-1 hidden-xs-down"></div>


          <div class="col-md-5">

            <div class="row" style="padding-top: 15px">
              <div style="overflow-y: scroll; overflow-x: hidden; max-height: 70vh">
                <div ng-repeat="n in [0,1,2,3,4,5,6]">
                  <div class="row">
                    <div ng-repeat="x in [1, 2, 3, 4]">
                      <div class="col-sm-6 col-md-3">
                        <a ng-if="((4*n) + x) == 1" ng-click="selectIcon(1)" href="" class="thumbnail" id="icon1" style="border-color:black; border-style:solid; border-width:5px">
                          <img src="/images/icons/icon{{(4*n) + x}}.jpg" alt="icon{{(4*n) +x }}">
                        </a>
                        <a ng-if="((4*n) + x) != 1" ng-click="selectIcon((4*n) + x)" href="" class="thumbnail" id="icon{{(4*n) + x}}">
                          <img src="/images/icons/icon{{(4*n) + x}}.jpg" alt="icon{{(4*n) +x }}">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">

                        <br style="clear:both">
                        <div class="form-group" style="padding-bottom: 15px">
                            <input
                                    class="form-control"
                                    ng-model="registerForm.userName"
                                    name="userName"
                                    type="textarea"
                                    id=""
                                    placeholder="{{'register_username' | translate}}"
                                    rows="1"
                                    minlength="4"
                                    maxlength="20"
                                    ng-pattern="usernamePattern"
                                    required/>
                            <span style="color:red" ng-show="form.userName.$dirty && form.userName.$invalid">
                                <span ng-show="form.userName.$error.required">
                                {{'required_field' | translate}}
                              </span>
                              <span ng-show="form.userName.$error.pattern">
                                {{'Pattern_registerForm_userName' | translate}}
                              </span>
                            </span>
                            <span style="color:red" ng-show="userExists">
                              {{'UniqueUser_registerForm_userName' | translate}}
                            </span>
                        </div>

                        <div class="form-group" style="padding-bottom: 15px">
                            <input
                                    class="form-control"
                                    ng-model="registerForm.email"
                                    name="email"
                                    type="email"
                                    id="email"
                                    placeholder="{{'register_email' | translate}}"
                                    minlength="5"
                                    maxlength="50"
                                    rows="1"
                                    required/>
                            <span style="color:red" ng-show="form.email.$dirty && form.email.$invalid">
                                <span ng-show="form.email.$error.required">
                                  {{'required_field' | translate}}
                                </span>
                                <span ng-show="form.email.$error.email">
                                  {{'register_not_email' | translate}}
                                </span>
                              </span>
                            <span style="color:red" ng-show="emailExists">
                                {{'UniqueEmail_registerForm_email' | translate}}
                              </span>
                        </div>

                        <div class="form-group" style="padding-bottom: 15px">
                            <input
                                    class="form-control"
                                    ng-model="registerForm.password"
                                    name="password"
                                    type="password"
                                    id="password"
                                    placeholder="{{'register_password' | translate}}"
                                    minlength="6"
                                    maxlength="20"
                                    ng-pattern="usernamePattern"
                                    rows="1"
                                    required/>

                            <span style="color:red" ng-show="form.password.$dirty && form.password.$invalid">
                                <span ng-show="form.password.$error.required">
                                  {{'required_field' | translate}}
                                </span>
                                <span ng-show="form.password.$error.pattern">
                                  {{'Pattern_registerForm_password' | translate}}
                                </span>
                            </span>
                        </div>

                        <div class="form-group" style="padding-bottom: 15px">
                            <input
                                    class="form-control"
                                    ng-model="registerForm.repeatPassword"
                                    name="repeatPassword"
                                    type="password"
                                    id="repeatPassword"
                                    placeholder="{{'register_repeatpassword' | translate}}"
                                    equal-fields="password"
                                    minlength="6"
                                    maxlength="20"
                                    rows="1"
                                    required/>

                            <span style="color:red" ng-show="form.repeatPassword.$dirty && form.repeatPassword.$invalid">
                                <span ng-show="form.repeatPassword.$error.required">
                                  {{'required_field' | translate}}
                                </span>
                              </span>
                            <div class='msg-block' ng-show='form.$error'>
                                <span style="color:red" class='msg-error' ng-show='form.repeatPassword.$dirty && form.repeatPassword.$error.fieldmatch'>
                                  {{'EqualProperties_registerForm' | translate}}
                                </span>
                            </div>
                        </div>

                        <div class="form-group" style="padding-bottom: 15px">
                            <input
                                    class="form-control"
                                    ng-model="registerForm.phone"
                                    name="phone"
                                    id="phone"
                                    placeholder="{{'register_phone' | translate}}"
                                    ng-pattern='phonePattern'
                                    rows="1"
                                    required/>
                            <span style="color:red" ng-show="form.phone.$dirty && form.phone.$invalid">
                                <span ng-show="form.phone.$error.required">
                                  {{'required_field' | translate}}
                                </span>
                                <span ng-show="form.phone.$error.pattern">
                                  {{'Pattern_registerForm_phone' | translate}}
                                </span>
                              </span>
                        </div>

                        <div class="form-group" style="padding-bottom: 15px">

                            <div class="row">
                                <div class="col-md-12">
                                    <input country-select data-ng-model="country" name="country" required>
                                    <span style="color:red" ng-show="form.country.$dirty && form.country.$invalid">
                                      <span ng-show="form.country.$error.required">
                                        {{'NotBlank_registerForm_country' | translate}}
                                      </span>
                                    </span>
                                    <div id="selectedCountry" value="{{country}}"/>
                                </div>
                            </div>

                        </div>

                        <div class="center-block text-right" style="padding-top:10px">
                            <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">{{'register_done' | translate}}</button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>


            <div class="col-md-1 hidden-xs-down"></div>
        </div>
    </form>


</div>
