<div class="container-fluid">

    <style>
        .table-fixed thead {
            width: 97%;
        }
        .table-fixed tbody {
            height: 230px;
            overflow-y: auto;
            width: 100%;
        }
        .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
            display: block;
        }
        .table-fixed tbody td, .table-fixed thead > tr> th {
            float: left;
            border-bottom-width: 0;
        }
    </style>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div ng-if="pagination.pagesAmount <= 1">
      <br/>
    </div>
    <div ng-if="pagination.pagesAmount > 1">
        <div class="row">
            <div class="col-md-12">
                <div class="paginationDiv center-block text-center">
                  <pagination
                    total-items="pagination.prodAmount"
                    ng-model="page"
                    class="pagination-sm"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    max-size="pagination.maxSizePage"
                    items-per-page="{{pageSize}}"
                    ng-change="pageChanged(page)">
                  </pagination>
                </div>
            </div>
        </div>
      </div>
      <div ng-show="doneSearch" class="row">
          <div class="col-md-12">
            <div ng-if="pagination.prodAmount == 1">
              <div class="prodAmount center-block text-center" style="padding-bottom: 20px">
                {{'results_found_singular' | translate}}
              </div>
            </div>
            <div ng-if="pagination.prodAmount != 1">
              <div class="prodAmount center-block text-center" style="padding-bottom: 20px">
                {{'results_found_plural' | translate : '{number: pagination.prodAmount}'}}
              </div>
            </div>
          </div>
      </div>
  </div>
</div>


    <div class="row">
            <div class="col-md-2">

                <div style="padding-bottom:10px" align="center">
                    <input type="submit" class="btn btn-primary" style="width:100%" value="{{'results_applyfilters' | translate}}" ng-click="performSearch()">
                </div>
                <div  style="padding-bottom:10px" align="center">
                    <input type="submit" class="btn btn-warning" style="width:100%" value="{{'results_clearfilters' | translate}}" ng-click="removeFilters()">
                </div>


                       <div class="panel-group" id="accordion" align="center">
                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                           {{'results_filters_platform' | translate}}
                                       </a>
                                   </h4>
                               </div>
                               <div id="collapseOne" class="panel-collapse collapse">
                                   <div class="panel-body">
                                       <table class="table table-fixed">
                                         <tbody>
                                            <tr ng-repeat="platform in platforms">
                                              <td class="col-md-12"><input
                                                type="radio"
                                                name="platform"
                                                value="{{platform.name}}"
                                                ng-model="$parent.searchPlatform"
                                                ng-checked="platform.name == searchPlatform"
                                              > {{platform.name}}</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                   </div>
                               </div>
                           </div>
                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                           {{'results_filters_genre' | translate}}
                                       </a>
                                   </h4>
                               </div>
                               <div id="collapseTwo" class="panel-collapse collapse">
                                   <div class="panel-body">
                                       <table class="table table-fixed">
                                         <tbody>
                                            <tr ng-repeat="genre in genres">
                                              <td class="col-md-12"><input
                                                type="radio"
                                                name="genre"
                                                value="{{genre.text}}"
                                                ng-model="$parent.searchGenre"
                                                ng-checked="genre.text == searchGenre"
                                              > {{'genres_' + genre.text | translate}}</td>
                                            </tr>
                                          </tbody>
                                       </table>
                                   </div>
                               </div>
                           </div>
                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   <h4 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                           {{'results_filters_esrb' | translate}}
                                       </a>
                                   </h4>
                               </div>
                               <div id="collapseThree" class="panel-collapse collapse">
                                   <div class="panel-body">
                                       <table class="table">
                                         <tbody>
                                            <tr ng-repeat="esrb in esrbs">
                                              <td class="col-md-12"><input
                                                type="radio"
                                                name="esrb"
                                                value="{{esrb.text}}"
                                                ng-model="$parent.searchEsrb"
                                                ng-checked="esrb.text == searchEsrb"
                                              > {{'esrb_' + esrb.text | translate}}</td>
                                            </tr>
                                          </tbody>
                                       </table>
                                   </div>
                               </div>
                           </div>
                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   <h6 class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                           {{'results_filters_mpsp' | translate}}
                                       </a>
                                   </h6>
                               </div>
                               <div id="collapseFour" class="panel-collapse collapse">
                                   <div class="panel-body">
                                       <table class="table">
                                         <tbody>
                                            <tr ng-repeat="mpsp in mpsps">
                                              <td class="col-md-12"><input
                                                type="radio"
                                                name="mpsp"
                                                value="{{mpsp.text}}"
                                                ng-model="$parent.searchMpsp"
                                                ng-checked="mpsp.text == searchMpsp"
                                              > {{'mpsp_' + mpsp.text | translate}}</td>
                                            </tr>
                                          </tbody>
                                       </table>
                                   </div>
                               </div>
                           </div>
                       </div>




            </div>
           <div ng-show="doneSearch" class="col-md-10">
             <div class="row" ng-repeat="row in products">

               <div ng-repeat="product in row">
                 <div class="col-md-4">
                     <div class="thumbnail">
                         <a class="result" href='/#/product/{{product.prodId}}' style="text-decoration: none">
                           <div class="imgContainer">
                               <img ng-src='/api/images/product/{{product.prodId}}' class="prodImg" onerror="this.src='/images/defaultcover.jpg'"/>
                           </div>
                           <div class="caption">
                               <p class="resultName">{{product.name}} ({{product.platform.name}})</p>
                               <p class="resultsAttributes">{{'prodpage_genre' | translate}} {{'genres_' + product.genre | translate}}</p>
                               <div ng-if="product.nrRevs == 0">
                                 <p class="resultsAttributes">Rating: <small>-</small></p>
                               </div>
                               <div ng-if="product.avgRating <= 2.5 && product.avgRating > 0">
                                 <p class="resultsAttributes">Rating: <small style="color: red">{{product.avgRating | number:2}}</small></p>
                               </div>
                               <div ng-if="product.avgRating <= 3.5 && product.avgRating > 2.5">
                                 <p class="resultsAttributes">Rating: <small style="color: #FF8C00">{{product.avgRating | number:2}}</small></p>
                               </div>
                               <div ng-if="product.avgRating > 3.5">
                                 <p class="resultsAttributes">Rating: <small style="color: #32CD32">{{product.avgRating | number:2}}</small></p>
                               </div>
                           </div>
                         </a>
                         <div ng-if="!product.available">
                             <div style="padding-bottom:10px; display:block; text-align:center; color:red;">
                                 {{'results_notAvailable' | translate}}
                             </div>
                         </div>
                       <div ng-if="product.available">
                         <div style="padding-bottom:10px; display:block; text-align:center; color:red;">
                           <h3></h3>
                         </div>
                       </div>
                     </div>
                 </div>

               </div>
             </div>

               <div ng-if="pagination.pagesAmount==0">
                   <img style="max-height: 75vh" src="/images/noresults.png" class="img-responsive center-block"/>
               </div>
           </div>
           <div class="col-md-10" ng-show="!doneSearch">
            <h2 class="text-center">{{'results_searching' | translate}}</h2>
            <img src="/images/loading.gif" style="margin: 0 auto;" class="img-responsive"/>
           </div>
    </div>
