<div class="container">

    <div class="row">
        <h1>{{'prodpage_offers_title' | translate}}</h1>
    </div>

    <div ng-if="pagination.pagesAmount > 1">
        <div class="row">
            <div class="col-md-12">
                <div class="paginationDiv center-block text-center">
                  <pagination
                    total-items="pagination.offerAmount"
                    ng-model="page"
                    class="pagination-sm"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    max-size="pagination.maxSizePage"
                    items-per-page="5"
                    ng-change="pageChanged(page)">
                  </pagination>
                </div>
            </div>
        </div>
        <hr/>
    </div>


    <div class="review-block">

        <div ng-if="offers.length == 0">
            <p>{{'prodpage_offers_empty' | translate}}</p>
        </div>

        <div ng-repeat="offer in offers">
           <div class="row">
              <div class="col-md-12">

                 <section class="col-xs-12 col-sm-6 col-md-12">

                    <article class="search-result row">
                       <div class="col-xs-12 col-sm-12 col-md-2">
                           <a href="/offer/{{offer.offerId}}" class="thumbnail"><img src="/api/images/offer/{{offer.offerId}}" onerror="this.src='/images/defaultcover.jpg'"/></a>
                       </div>
                       <div class="col-xs-12 col-sm-12 col-md-8">
                         <h5>
                           <img src="images/icons/icon{{offer.offererIconId}}.jpg"
                                     class="img-responsive img-circle center-block pull-left"
                                     height="3%" width="3%">
                           <div style="padding-left:35px; padding-top:5px;">
                             <a class="result" href='/#/user/{{offer.userId}}'>
                                 {{offer.username}}
                             </a>
                           </div>
                         </h5>
                          <div ng-if="offer.nrRevs == 0">
                                <p class="offerAttributes">{{'prodpage_userRating' | translate}} - </p>
                          </div>
                          <div ng-if="offer.nrRevs != 0">
                              <div ng-if="offer.userRating <= 2.5"><p class="offerAttributes">{{'prodpage_userRating' | translate}} <small style="color: red">{{offer.userRating | number:2}}</small></p></div>
                              <div ng-if="offer.userRating <= 3.5 && offer.userRating > 2.5"><p class="offerAttributes">{{'prodpage_userRating' | translate}} <small style="color: #FF8C00">{{offer.userRating | number:2}}</small></p></div>
                              <div ng-if="offer.userRating > 3.5"><p class="offerAttributes">{{'prodpage_userRating' | translate}} <small style="color: #32CD32">{{offer.userRating | number:2}}</small></p></div>
                          </div>
                          <p class="offerAttributes"><strong>{{'offerpage_description' | translate}}</strong> {{offer.description}}</p>
                       </div>
                       <span class="clearfix border"></span>
                    </article>

                 </section>
              </div>
           </div><hr/>
        </div>


    </div>
</div>
