<div class="row">
    <div class="col-md-9" style="padding-bottom: 20px">
        <h2>{{'userpage_personalinfo' | translate}}</h2>
        <hr />
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">

        <!-- If logged user is user show option to change icon-->
        <div ng-if="user.userid == loggedUserId">
          <!--Image, click to change icon-->
          <a data-toggle="modal" data-target="#exampleModalLong">
            <div class="iconChange text-center clickable">
              <div class="text">
                  <p>{{'userpage_changeicon' | translate}}</p>
              </div>
                <img ng-src="images/icons/icon{{user.iconId}}.jpg" class="img-responsive img-rounded center-block">
            </div>
          </a>
        </div>

        <!--If logged user is not user dont show option to change icon-->
        <div ng-if="user.userid != loggedUserId">
          <a><img ng-src="images/icons/icon{{user.iconId}}.jpg" class="img-responsive img-rounded"></a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{'userpage_changeicon' | translate }}</h5>
                  </div>
                  <div class="col-md-6">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="modal-body">
                <div class="row" style="padding-top: 15px">
                  <div style="overflow-y: scroll; overflow-x: hidden; max-height: 70vh">

                    <div class="col-md-12">
                      <div ng-repeat="n in [0,1,2,3,4,5,6]">
                        <div class="row">
                          <div ng-repeat="x in [1, 2, 3, 4]">
                            <div class="col-sm-6 col-md-3">
                              <a href="" ng-if="user.iconId == ((4*n) + x)" ng-click="selectIconModal()((4*n) + x)" class="thumbnail" id="iconModal{{user.iconId}}" style="border-color:black; border-style:solid; border-width:5px">
                                <img src="/images/icons/icon{{(4*n) + x}}.jpg" alt="icon{{(4*n) +x }}">
                              </a>
                              <a href="" ng-if="user.iconId != ((4*n) + x)" ng-click="selectIconModal()((4*n) + x)" class="thumbnail" id="iconModal{{(4*n) + x}}">
                                <img src="/images/icons/icon{{(4*n) + x}}.jpg" alt="icon{{(4*n) +x }}">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <!-- TODO translate-->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'cancel' | translate}}</button>
                <button ng-click="changeIcon()()" type="button" class="btn btn-primary">{{'save' | translate}}</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-1"></div>
    </div>
  </div>


  <div class="col-md-8">

    <div class="row">
        <div ng-if="loggedUserId != null &&  loggedUserId != id">
          <div ng-if="alreadyLiked">
            <i class="fa fa-heart fa-6 pull-left"
                  aria-hidden="true"
                  style="font-size: 30px; color: red; cursor: pointer;"
                  onmouseout="this.style.cssText='color: red; font-size: 30px; cursor: pointer;'"
                  onmouseover="this.style.cssText='color: #ffb3d9; font-size: 30px; cursor: pointer;'"
                  ng-click="unlike()()"></i>
          </div>

          <div ng-if="!alreadyLiked">
            <i class="fa fa-heart-o fa-6 pull-left"
                  aria-hidden="true"
                  style="font-size: 30px; color: black; cursor: pointer;"
                  onmouseout="this.style.cssText='color: black; font-size: 30px; cursor: pointer;'"
                  onmouseover="this.style.cssText='color: #ffb3d9; font-size: 30px; cursor: pointer;'"
                  ng-click="like()()"></i>
          </div>
          <h3 style="padding-bottom: 5px">{{'userpage_user' | translate : '{user: user.username}'}}</h3>
        </div>
        <div ng-if="loggedUserId == null ||  loggedUserId == id">

          <h3 style="padding-bottom: 5px">{{'userpage_user' | translate : '{user: user.username}'}}</h3>


        </div>
    </div>
    <div class="row">
      <div ng-if='user.nrRevs == 0'>
        <div ng-if="user.userid == loggedUserId">
          <h4 style="padding-bottom: 5px"><p>{{'userpage_noRating_You' | translate}}</p></h4>

        </div>
        <div ng-if="user.userid != loggedUserId">
          <h4 style="padding-bottom: 5px"><p>{{'userpage_noRating' | translate : '{user: user.username}'}}</p></h4>
        </div>

      </div>
      <div ng-if='user.nrRevs != 0'>
        <h4 style="padding-bottom: 5px;"><p>{{'userpage_rating' | translate}}:
          <small style="color: red" ng-if="user.avgRating <= 2.5 && user.avgRating > 0">{{user.avgRating | number:2}}</small>
          <small style="color: #FF8C00" ng-if="user.avgRating <= 3.5 && user.avgRating > 2.5">{{user.avgRating | number:2}}</small>
          <small style="color: #32CD32" ng-if="user.avgRating > 3.5">{{user.avgRating | number:2}}</small>
        </p></h4>
      </div>
    </div>
    <div class="row">

        <div ng-if="user.userid == loggedUserId">
          <p>{{'userpage_email' | translate}} {{user.email}}</p>
        </div>


        <div ng-if="user.userid == loggedUserId">
          <p>{{'userpage_phone' | translate}} {{user.phone}}</p>
          <p>{{'userpage_country' | translate}} {{user.country}}</p>
        </div>


    </div>

    <div class="row" style="padding-bottom: 8px; padding-top: 20px">
      <!--
            <%--<div class="col-md-4">--%>
            <%--<a class="btn btn-primary" href="#"><spring:message code="userpage.changepersinfo"/></a>--%>
            <%--</div>--%>
          -->
      <div ng-if="user.userid == loggedUserId">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePassModal">{{'userpage_changepass' | translate}}</button>
      </div>
    </div>
      <div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="changePassModalLabel">{{'userpage_changepass' | translate}} </h4>
            </div>
            <form role="form" name='form' ng-submit="changePassword()()">
              <div class="modal-body">

                <div class="form-group">

                  <label>{{'userpage_currentpass' | translate}}:</label>
                  <input
                    type="password"
                    ng-model="changepassform.actualPass"
                    name="actualPass"
                    class="form-control"
                    id="actualPass"
                    minlength="6"
                    maxlength="20"
					ng-pattern="passwordPattern"
                    required
                  />
                  <span style="color:red" ng-show="form.actualPass.$dirty && form.actualPass.$invalid">
                                    <span ng-show="form.actualPass.$error.required">
                                      {{'required_field' | translate}}
                                    </span>

		              <span ng-show="form.actualPass.$error.pattern">
		                {{'Pattern_registerForm_password' | translate}}
		              </span>
                  </span>
				  <span style="color:red" ng-show="notOldPass">
                    {{'ValidPassword_changePassForm' | translate}}
                  </span>
                </div>

                <div class="form-group">
                  <label>{{'userpage_newpass1' | translate}}:</label>
                  <input
                    type="password"
                    ng-model="changepassform.newPass1"
                    name="newPass1"
                    class="form-control"
                    id="newPass1"
                    minlength="6"
                    maxlength="20"
					ng-pattern="passwordPattern"
                    required
                  />
                  <span style="color:red" ng-show="form.newPass1.$dirty && form.newPass1.$invalid">
                                    <span ng-show="form.newPass1.$error.required">
                                      {{'required_field' | translate}}
                                    </span>
					  <span ng-show="form.newPass1.$error.pattern">
						{{'Pattern_registerForm_password' | translate}}
					  </span>
                  </span>
                </div>

                <div class="form-group">
                  <label>{{'userpage_newpass2' | translate}}:</label>
                  <input
                    type="password"
                    ng-model="changepassform.newPass2"
                    name="newPass2"
                    class="form-control"
                    id="newPass2"
                    equal-fields="newPass1"
                    minlength="6"
                    maxlength="20"
                    required
                  />
                  <span style="color:red" ng-show="form.newPass2.$dirty && form.newPass2.$invalid">
                                    <span ng-show="form.newPass2.$error.required">
                                      {{'required_field' | translate}}
                                    </span>
                                  </span>
                  <div class='msg-block' ng-show='form.$error'>
                                    <span style="color:red" class='msg-error' ng-show='form.newPass2.$dirty && form.newPass2.$error.fieldmatch'>
                                      {{'EqualProperties_changePassForm' | translate}}
                                    </span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'cancel' | translate}}</button>
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">{{'save' | translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
