<div class="row" style="padding-bottom: 20px">
    <div class="col-md-9">
        <h2>{{'userpage_settings' | translate}}</h2>
        <hr/>
    </div>
    <div class="col-md-3"></div>
</div>


<div class="row" style="padding-left:25px">
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-8">
        <h4><i class="fa fa-envelope-o" aria-hidden="true"></i> {{'userpage_settings_email' | translate}}</h4>

      </div>
      <div class="col-md-4">
        <div class="pull-right" id="editRow">
          <input type="submit" class="btn btn-primary"
                 value="{{'userpage_settings_edit' | translate}}"
                 ng-click="editSettings()()">
        </div>

        <div class="pull-right" style="display: none;" id="applyCancelRow">
          <input type="submit" class="btn btn-warning"
                 value="{{'userpage_settings_apply' | translate}}"
                 ng-click="applySettingChanges()()">
          <input type="submit" class="btn btn-danger"
                 value="{{'userpage_settings_cancel' | translate}}"
                 ng-click="cancelEdit()()">
        </div>
      </div>

    </div>

    <div style="padding-left:15px">

      <div class="row" style="padding-top:30px;">
        <label>
          <input type="checkbox" data-toggle="toggle"
                 ng-checked="settings.completedMail" id="completed"
                 disabled>
          {{'userpage_settings_completedMail' | translate}}
        </label>
      </div>

      <div class="row" style="padding-top:10px;">
        <label>
          <input type="checkbox" data-toggle="toggle"
                 ng-checked="settings.rejectedMail" id="rejected"
                 disabled>
          {{'userpage_settings_rejectedMail' | translate}}
        </label>
      </div>

      <div class="row" style="padding-top:10px;">
        <label>
          <input type="checkbox" data-toggle="toggle"
                 ng-checked="settings.acceptedMail" id="accepted"
                 disabled>
          {{'userpage_settings_acceptedMail' | translate}}
        </label>
      </div>

      <div class="row" style="padding-top:10px;">
        <label>
          <input type="checkbox" data-toggle="toggle"
                 ng-checked="settings.newTradeMail" id="newtrade"
                 disabled>
          {{'userpage_settings_newTradeMail' | translate}}
        </label>
      </div>

      <div class="row" style="padding-top:10px;">
        <label>
          <input type="checkbox" data-toggle="toggle"
                 ng-checked="settings.cancelledMail" id="canceled"
                 disabled>
          {{'userpage_settings_canceledMail' | translate}}
        </label>
      </div>

    </div>
  </div>
  <div class="col-md-3"></div>
</div>
