<div class="row" style="padding-bottom: 20px">
  <div class="col-md-9">
    <h2>{{'userpage_history' | translate}}</h2>
    <hr/>
  </div>
  <div class="col-md-3"></div>
</div>

<div ng-if="donetrades==null || donetrades.length == 0">
  <div class="row">
    <div class="col-md-12">
      <p>{{'userpage_nohistory' | translate}}</p>
    </div>
  </div>
</div>
<div ng-if="donetrades != null && donetrades.length != 0">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading" style="padding-top: 15px; padding-bottom: 15px; background: #404040">
        </div>

        <table class="table table-hover text-center" id="history-table" style="border: 1px solid black;table-layout: fixed;">
          <thead>
          <tr>
            <th class="text-center" header-class="'text-center'">{{'userpage_date' | translate}}</th>
            <th class="text-center" header-class="'text-center'">{{'userpage_whooffered' | translate}}</th>
            <th class="text-center" header-class="'text-center'">{{'userpage_whatwasoffered' | translate}}</th>
            <th class="text-center" header-class="'text-center'">{{'userpage_owner' | translate}}</th>
            <th class="text-center" header-class="'text-center'">{{'userpage_ownersgame' | translate}}</th>
            <th class="text-center" header-class="'text-center'">{{'userpage_stateoftrade' | translate}}</th>

          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="trade in donetrades track by $index">

            <td style="vertical-align: middle;">
              <div class="row">
                {{trade.lastStateChange | date:"HH:hh"}}
              </div>
              <div class="row">
                {{trade.lastStateChange | date}}
              </div>
            </td>
            <td style="vertical-align: middle;">
              <a ng-href='#/user/{{trade.interestedId}}'>
                {{trade.interestedUsername}}
              </a>
            </td>
            <td style="vertical-align: middle;">
              <div class="row">
                <a ng-href="#/offer/{{trade.interestedOfferId}}"><img
                  ng-src='/api/images/offer/{{trade.interestedOfferId}}' alt="offer picture"
                  onerror="this.src='/images/defaultcover.jpg'"
                  style="max-height: 100px"/></a>
              </div>
              <div class="row">
                {{trade.interestedOfferName}}
              </div>
            </td>
            <td style="vertical-align: middle;">
              <a ng-href='#/user/{{trade.offererId}}'>
                {{trade.offererUsername}}
              </a>
            </td>
            <td style="vertical-align: middle;">
              <div class="row">
                <a ng-href='#/offer/{{trade.offererOfferId}}'><img
                  ng-src='/api/images/offer/{{trade.offererOfferId}}' alt="offer picture"
                  onerror="this.src='/images/defaultcover.jpg'"
                  style="max-height: 100px"/></a>
              </div>
              <div class="row">
                {{trade.offererOfferName}}
              </div>
            </td>
            <td style="vertical-align: middle;">
              <div class="row" style="padding-bottom: 15px">
                <div class="case" ng-switch="trade.state">
                  <div ng-switch-when="REJECTED">
                    <span class="label label-danger">{{'userpage_rejected' | translate}}</span>
                  </div>
                  <div ng-switch-when="ACCEPTED">
                    <span class="label label-success">{{'userpage_accepted' | translate}}</span>
                  </div>
                  <div ng-switch-when="CANCELED">
                    <span class="label label-danger">{{'userpage_canceled' | translate}}</span>
                  </div>
                  <div ng-switch-when="COMPLETED">
                    <span class="label label-success">{{'userpage_completed' | translate}}</span>
                  </div>
                  <div ng-switch-when="ACCEPTED_CANCELLED">
                    <span class="label label-danger">{{'userpage_accepted_cancelled' | translate}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div ng-if="trade.state == 'COMPLETED' || trade.state == 'ACCEPTED_CANCELLED'">
                  <div ng-if="trade.rating == null">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#reviewModal">
                      <i class="glyphicon glyphicon-pencil"></i> {{'userpage_leaveReview' | translate}}
                    </button>

                    <!-- Leave review Modal -->
                    <div class="modal" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <form role="form" name="form" ng-submit="reviewUser()($index)">

                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h4 ng-if="trade.interestedUsername != user.username" class="modal-title">
                                {{'userpage_leaveReviewExp' | translate : '{user: trade.interestedUsername}'}}</h4>
                              <h4 ng-if="trade.offererUsername != user.username" class="modal-title">
                                {{'userpage_leaveReviewExp' | translate : '{user: trade.offererUsername}'}}</h4>
                            </div>
                            <div class="modal-body">

                              <div class="form-group">
                                <input
                                  ng-model="userReviewForm.title"
                                  class="form-control"
                                  type="textarea"
                                  name="title"
                                  placeholder="{{'userpage_title' | translate}}"
                                  maxlength="50"
                                  required
                                ></input>
                                <span style="color:red" class="pull-left"
                                      ng-show="form.title.$dirty && form.title.$invalid">
                                                                    <span ng-show="form.title.$error.required">
                                                                      {{'required_field' | translate}}
                                                                    </span>
                                                                  </span>
                              </div>

                              <div class="form-group">
                                <textarea
                                  ng-model="userReviewForm.review"
                                  name="review"
                                  class="form-control"
                                  type="textarea"
                                  placeholder="{{'userpage_review' | translate}}"
                                  maxlength="5000"
                                  rows="5"
                                  required
                                ></textarea>
                                <span style="color:red" class="pull-left"
                                      ng-show="form.review.$dirty && form.review.$invalid">
                                                                    <span ng-show="form.review.$error.required">
                                                                      {{'required_field' | translate}}
                                                                    </span>
                                                                  </span>
                              </div>
                            </div>


                            <div class="text-right" style="padding-right: 15px">
                              <rating
                                ng-model="userReviewForm.rating"
                                max="5"
                                readonly="isReadonly"
                                style="font-size: 25px;"
                                required
                              ></rating>


                            </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">{{'userpage_cancel' |
                                translate}}
                              </button>
                              <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">
                                {{'userpage_accept' | translate}}
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-if="trade.rating != null">
                    <rating
                      ng-model="rate"
                      max="trade.rating"
                      readonly="true"
                      state-off="'glyphicon glyphicon-star'">
                    </rating>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
