<div class="row" style="padding-bottom: 20px">
  <div class="col-md-9">
    <h2>{{'userpage_reviews' | translate}}</h2>
    <hr/>
  </div>
  <div class="col-md-3"></div>
</div>

<div ng-if="reviews==null || reviews.length == 0">
  <div class="row">
    <div class="col-md-12">
      <div ng-if="loggeduserid == user.userid">
        <p>{{'userpage_noReviews_You' | translate}} </p>
      </div>
      <div ng-if="loggeduserid != user.userid">
        <p>{{'userpage_noReviews' | translate}} {{user.username}}. </p>
      </div>
    </div>
  </div>
</div>

<div ng-repeat="review in reviews">

  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <a ng-href="/#/user/{{review.writerId}}">
          <img src="images/icons/icon{{review.writerIconId}}.jpg" class="img-responsive img-circle center-block" height="70%" width="70%">
        </a>
      </div>
      <div class="row text-center">
        <small >{{review.writer}}</small>
      </div>

    </div>

    <div class="col-md-10" style="padding-left: 50px;">
      <div class="row vertical-align: middle">
        <div class="row">
          <rating
            ng-model="rate"
            max="review.rating"
            readonly="true"
            state-off="'glyphicon glyphicon-star'">
          </rating>

        </div>
        <div class="row">
          <h4 style="word-wrap:break-word; text-align: left">{{review.title}}</h4>
          <p style="word-wrap:break-word; text-align: left">{{review.review}}</p>
          <small>{{review.date | date}}</small>

        </div>
      </div>


    </div>
  </div>
<div class="row">
  <div class="col-md-9">
  <hr>
  </div></div>
</div>
