<div class="container">

    <div class="row">
        <h1>{{'prodpage_reviews_title' | translate}}</h1>
    </div>

    <div ng-if="pagination.pagesAmount > 1">
        <div class="row">
            <div class="col-md-12">
                <div class="paginationDiv center-block text-center">
                  <pagination
                    total-items="pagination.reviewAmount"
                    ng-model="page"
                    class="pagination-sm"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    max-size="pagination.maxSizePage"
                    items-per-page="5"
                    ng-change="pageChanged(page)">
                  </pagination>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <hr/>
            <div class="review-block">

                <div ng-if="reviews.length == 0">
                    <p>{{'prodpage_reviews_empty' | translate}}</p>
                </div>
                <div ng-repeat="review in reviews">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="review-block-writer">
                        <div class="row">
                          <a ng-href="/#/user/{{review.writerId}}">
                            <img src="images/icons/icon{{review.iconId}}.jpg" class="img-responsive img-circle center-block clickable" height="50%" width="50%">
                          </a>
                        </div>
                        <div class="row" style="text-align: center">
                          <a href="/#/user/{{review.writerId}}">
                            <strong style="color: grey;">{{review.username}}</strong>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <br/>
                      <rating
                              ng-model="rate"
                              max="review.rating"
                              readonly="true"
                              state-off="'glyphicon glyphicon-star'">
                      </rating>
                      <div class="review-block-date">{{review.date | date}}</div>
                    </div>

                    <div class="col-sm-8">
                      <div class="review-block-title"><h3><strong>{{review.title}}</strong></h3></div>
                      <div class="review-block-review" style="color:grey;">{{review.review}}</div>
                    </div>
                  </div>
                  <hr/>
                </div>
            </div>
        </div>

    </div>
    <br/><br/><br/><br/>
</div>
