<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title>PowerUp</title>

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

</head>
<body ng-controller="MainCtrl">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--NAV BAR-->
  <header>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">

        <a id="logo-container" ng-href="#/" class="brand-logo">P<span class="material-icons">gamepad</span>werUp</a>

        <ul class="right hide-on-med-and-down">
          <li><a ng-href="#search">Search <i class="material-icons right">search</i></a></li>
          <li><a ng-href="#threads">Threads <i class="material-icons right">forum</i></a></li>

          <li ng-if="isLoggedIn()"><a ng-href="#profile?username={{currentUser.username}}">{{currentUser.username}}<i class="material-icons right">person</i></a></li>
          <li ng-if="isLoggedIn()"><a ng-href="#list?username={{currentUser.username}}">Game List <i class="material-icons right">menu</i></a></li>
          <li ng-if="isLoggedIn()" ng-click="logOut()"><a ng-href="#/">Log Out <i class="material-icons right">exit_to_app</i></a></li>

          <li ng-if="!isLoggedIn()"><a ng-href="#login">Log In <i class="material-icons right">person_outline</i></a></li>
          <li ng-if="!isLoggedIn()"><a ng-href="#register">Register <i class="material-icons right">assignment_ind</i></a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav black-text">
          <!--No icons on mobile because they don't work nicely, and there's not as much room-->
          <li><a ng-href="#search">Search</a></li>
          <li><a ng-href="#threads">Threads</a></li>
          <!--TODO uncomment-->
          <!--<c choose>-->
          <!--<c when test="${isLoggedIn}">-->
          <!--<li><a ng-href="/profile?username=${currentUsername}">${currentUsername}</a></li>-->
          <!--<li><a ng-href="/list?username=${currentUsername}">Game List</a></li>-->
          <!--<li><a ng-href="/logout">Log Out</a></li>-->
          <!--</c:when>-->
          <!--<c otherwise>-->
          <li><a ng-href="#login">Log In</a></li>
          <li><a ng-href="#register">Register</a></li>
          <!--</c:otherwise>-->
          <!--</c:choose>-->
        </ul>

        <a ng-href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

      </div>
    </nav>
  </header>
  <!--END NAV BAR-->

  <main>
    <div class="container"></div>
    <ng-view></ng-view>
  </main>

  <!--FOOTER-->
  <footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
        <strong>
          Game data freely provided by <a href="http://www.igdb.com" target="_blank">IGDB.com</a>.
        </strong>
      </div>
    </div>
  </footer>
  <!--END FOOTER-->

  <!-- build:js(.) scripts/oldieshim.js -->
  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <![endif]-->
  <!-- endbuild -->
  <script src="/scripts/paths.js"></script>
  <script src="bower_components/requirejs/require.js" data-main="/scripts/build.js"></script>
</body>
</html>
