<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Trade My Game</title>
  <meta name="description" content="">


  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link rel="shortcut icon" href="images/favicon.ico" />

</head>

<body ng-controller="IndexCtrl" style="padding-top:51px">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- Add your site or application content here -->


  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a  href="#/">
                  <img src="/images/logo-inverted.png" style="padding-top:5px"  height="45" alt=""/>
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nintendo <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li ng-repeat="nintendoPlatform in nintendoPlatforms"><a href='/#/search?page=1&platform={{nintendoPlatform.name}}'>{{nintendoPlatform.name}}</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sony <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="sonyPlatform in sonyPlatforms"><a href='/#/search?page=1&platform={{sonyPlatform.name}}'>{{sonyPlatform.name}}</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Microsoft <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="microsoftPlatform in microsoftPlatforms"><a href='/#/search?page=1&platform={{microsoftPlatform.name}}'>{{microsoftPlatform.name}}</a></li>
                      </ul>
                  </li>
                  <li><a href="/#/search?page=1&platform=PC">PC</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <form id="search-form" class="navbar-form navbar-left" role="search" method="get">
                      <div class="form-group">
                          <input id="search-topbar"
                          type="text"
                          class="form-control"
                          name="name"
                          ng-model="selected"
                          placeholder="{{'header_search' | translate}}"
                          typeahead="name for name in names | filter:$viewValue | limitTo:5"
                          typeahead-append-to-body="true"
                          typeahead-on-select="onSelect($item, $model, $label)"
                          autocomplete="off"/>
                      </div>
                      <button ng-click="performSearch()" id="btn-search" class="btn btn-default"><span class="glyphicon glyphicon-search"/></button>
                      <button ng-click="goToFilter()" id="btn-filter" class="btn btn-default"><span class="glyphicon glyphicon-filter"/></button>
                  </form>

                  <!--user is not logged in-->
                  <li ng-if="!loggedIn" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{'header_login' | translate}}</b> <span class="caret"></span></a>
                      <ul id="login-dp" class="dropdown-menu">
                          <li>
                              <div class="row">
                                  <div class="col-md-12">
                                      <form class="form" role="form" ng-submit="loginSubmit()" accept-charset="UTF-8" id="login-nav">
                                          <div class="form-group">
                                              {{'header_username' | translate}}
                                              <input type="text" ng-model="loginform.username" class="form-control" placeholder="{{'header_username' | translate}}" required>
                                          </div>
                                          <div class="form-group">
                                              {{'header_password' | translate}}
                                              <input type="password" ng-model="loginform.password" class="form-control" placeholder="{{'header_password' | translate}}" required>
                                              <div class="help-block text-right"><a href="/#/forgotPassword" ng-click="closeDropdown()">{{'header_forgotPassword' | translate}}</a></div>
                                          </div>
                                          <div class="form-group">
                                              <button type="submit" class="btn btn-primary btn-block">{{'header_signIn' | translate}}</button>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="bottom text-center">
                                      {{'header_newHere' | translate}} <a href="#/register"><b>{{'header_joinUs' | translate}}</b></a>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </li>

                  <!--user is logged in-->
                  <li ng-if="loggedIn" class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'header_myAccount' | translate}}<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><p class="text-center">{{ loggedUser }}</p></li>
                          <li class="divider"></li>
                          <li><a ng-href="#/user/{{loggedUserId}}"/>{{'header_myAccount' | translate}}<span class="glyphicon glyphicon-user pull-right"></span></a></li>
                          <li class="divider"></li>
                          <li><a href="#/newoffer">{{'header_upload' | translate}}<span class="glyphicon glyphicon-cloud-upload pull-right"></span></a></li>
                          <li class="divider"></li>
                          <li><a href="" ng-click="logout()">{{'header_signOut' | translate}}<span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                      </ul>
                  </li>

              </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>



  <div ng-view=""></div>

  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <ul class="list-inline">
                      <li>
                          <a href="#/">{{'footer_home' | translate}}</a>
                      </li>
                      <li class="footer-menu-divider">&sdot;</li>
                      <li>
                          <a href="#/about_us">{{'footer_about' | translate}}</a>
                      </li>
                  </ul>
                  <p class="copyright text-muted small">{{'footer_copyright' | translate}}</p>
              </div>
          </div>
      </div>
  </footer>
  <script src="/scripts/paths.js"></script>
  <script src="bower_components/requirejs/require.js" data-main="/scripts/build.js"></script>
</body>
</html>
