<main xmlns="http://www.w3.org/1999/html">
    <div class="container" >
		<div class="section no-pad-bot">
			<h1 class="header center orange-text">{{game.name}}</h1>
			<h5 class="center orange-text">{{game.releaseDate}}</h5>
		</div>
		<!--ACTION FORMS-->
		<div class="section">
			<!--RATE AND STATUS FORM-->
			<div class="row" ng-show="isLoggedIn()">
                <!--<form ng-show="isLoggedIn()" name="registerForm" class="css-form" ng-submit="register(registerForm)" novalidate>-->
                  	<div class="col s2"></div>
                    <div class="col s10 center-align">
						<div class="row" style="margin-bottom:0;">
							<div class="col s3 center-align">
                                <label>Score: </label>
                                <ng-input>
                                    <select ng-model="gameScore" class="browser-default" ng-options="score for score in rangeScore">
                                        <option value="">Select score</option>
                                    </select>
                                </ng-input>
							</div>
                            <div class="col s3 center-align">
                                <label>PlayStatus: </label>
                                <ng-input>
                                    <select ng-model="gamePlayStatus" class="browser-default" ng-options="playStatus for playStatus in playStatusOptions">
                                        <option value="">Select play status</option>
                                    </select>
                                </ng-input>
                            </div>
                            <div class="col s6 center-align">
                                <label>Shelves: </label>
                                <ng-input>
                                    <p ng-show="shelves.length === 0">You have no shelves. Why not <a ng-href="#list">create one</a>?</p>
                                    <div ng-show="shelves.length > 0">
                                        <select id="shelves"  ng-model="shelvesWithGame" ng-change="updateShelfSelect()" multiple>
                                            <option value="" disabled selected>Select shelves</option>
                                            <!--<%&#45;&#45;<option id="newShelf" value="newShelf" >New shelf...</option>&#45;&#45;%>-->
                                            <!--<c:forEach var="entry" items="${shelves}">-->
                                            <!--<c:set var="shelf" value="${entry.key}"/>-->
                                            <!--<c:set var="isInShelf" value="${entry.value}"/>-->
                                            <option ng-repeat="shelf in shelves" value="{{shelf}}"> {{shelf.name}} </option>
                                        </select>
                                    </div>
                                </ng-input>
                            </div>
							<!--<c:choose>-->
								<!--<c:when test="${isLoggedIn}">-->
									<!--<div class="col s4 center">-->
										<!--<button id="submit" type="submit" class="btn waves-effect waves-light">Update List</button>-->
									<!--</div>-->
								<!--</c:when>-->
								<!--<c:otherwise>-->
									<!--<div class="col s4 center">-->
										<!--<%&#45;&#45;TODO redirect user back here after login&#45;&#45;%>-->
										<!--<a class="btn waves-effect waves-light" href="<c:url value="/login" />">Login</a>-->
									<!--</div>-->
								<!--</c:otherwise>-->
							<!--</c:choose>-->
						</div>
					</div>
				<!--</form:form>-->
				<!--<c:if test="${isLoggedIn && canUpdateShelves}">-->
					<!--<button id="delete-button" class="btn waves-effect waves-light red lighten-1">Remove <i class="material-icons right">delete</i></button>-->
				<!--</c:if>-->
			</div>
            <!--END RATE AND STATUS FORM-->
            <!--SHELVES FORM-->
            <div class="row" ng-show="isLoggedIn()" style="margin-bottom:0; margin-top: 0;">

                <div class="col s3"></div>
                <div class="col s8 center-align">

                </div>
							<!--<c:choose>-->
								<!--<c:when test="${isLoggedIn}">-->
									<!--<button type="submit" class="btn waves-effect waves-light">Update Shelves</button>-->
								<!--</c:when>-->
								<!--<c:otherwise>-->
									<!--<%&#45;&#45;TODO redirect user back  here after login&#45;&#45;%>-->
									<!--<a class="btn waves-effect waves-light" href="<c:url value="/login" />">Log in</a>-->
								<!--</c:otherwise>-->
							<!--</c:choose>-->
						<!--</div>-->
					<!--</form>-->
				<!--</div>-->
			<!--</c:if>-->

            </div>
			<!--END SHELVES FORM-->
		</div>
		<!--END ACTION FORMS-->

		<div class="section">
			<!--<c:choose>-->
				<!--<c:when test="${game == null}">-->
					<!--<div class="row">-->
						<!--<h3 class="center">No game found =(</h3>-->
						<!--<h5 class="center">Go back <a href="<c:url value='/' />">home</a></h5>-->
					<!--</div>-->
				<!--</c:when>-->
				<!--<c:otherwise>-->
			<div class="row">
				<img class="col s3" ng-src="{{game.coverPictureUrl}}"  alt="{{game.name}}">
				<div class="col s5">
					<p style="margin-top: 0;">
						<!--<c:out value=" ${genre.name}" /> WAAAAAAT-->
					<div ng-switch="game.summary">
						<div ng-switch-when="null">No summary =(</div>
						<div ng-switch-default>{{game.summary}}</div>
					</div>

					</p>
				</div>
				<div class="col s4">
					<p><b>Rating</b></p>
					<div ng-if="game.avgScore > 0">
						<p style="margin-top:0;"><span>{{game.avgScore | number:2}}</span></p>
					</div>
					<div ng-if="game.avgScore <= 0">
						<p style="margin-top:0;">unrated</p>
					</div>
					<p><b>Genres</b></p>
					<div ng-repeat="genre in game.genres">
						<a href='#/search?genre={{genre}}'>
							{{genre}}
						</a>
					</div>
					<br/>
					<p><b>Platforms</b></p>
					<div ng-repeat="platform in game.platforms">
						<a href='#/search?platform={{platform.name}}'>
							{{platform.name}}
						</a>
						<span style="font-size: small; float: right;">{{platform.releaseDate}}</span>
					</div>
					<br/>
					<p><b>Developers</b></p>
					<div ng-repeat="developer in game.developers">
						<a href='#/search?developer={{developer}}'>
							{{developer}}
						</a>
					</div>
					<br/>
					<p><b>Publishers</b></p>
					<div ng-repeat="publisher in game.publishers">
						<a href='#/search?publisher={{publisher}}'>
							{{publisher}}
						</a>
					</div>
					<!--<div class="col s12 divider"></div>-->
					<!--<br/>-->
				</div>
			</div>

            <!--SCREENSHOTS AND VIDEOS-->
            <div class="row" ng-if="game.videoUrls.length > 0 || game.pictureUrls.length > 0">
                <div class="col s12 divider"></div>

                <div class="row" ng-if="game.videoUrls.length > 0">
                    <h4 class="center">Videos</h4>
                    <div class="slick-carousel center" id="videos-carousel" data-slick='{"slidesToShow": {{videosMin}}, "slidesToScroll": {{videosMin}}}'>
                        <div class="slide-container" ng-repeat="video in game.videoUrls" on-complete="videosRendered">
                            <iframe type="text/html" width="{{game.videoUrls.length > 1 ? '90%' : '640'}}"
                                    height="360" ng-src="{{video}}" frameborder="0">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="game.pictureUrls.length > 0">
                <div class="row" ng-if="game.videoUrls.length > 0">
                    <div class="col s12 divider"></div>
                </div>

                <div class="row" >
                    <h4 class="center">Screenshots</h4>
                    <div class="slick-carousel center" id="screenshots-carousel" data-slick='{"slidesToShow": {{picturesMin}}, "slidesToScroll": {{picturesMin}}}'>
                        <div class="slide-container" ng-repeat="picture in game.pictureUrls" on-complete="picturesRendered">
                            <div class="valign-wrapper slide-image">
                                <a href="{{picture}}" data-lightbox="screenshot-{{$index}}">
                                    <img ng-src="{{picture}}" class="valign"/>
                                    <!--TODO re-enable lazy loading, a game can have a lot of images-->
                                    <!--<img data-lazy="{{picture}}" class="valign"/>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END SCREENSHOTS AND VIDEOS-->

			<!--REVIEWS-->
            <div ng-if="game">
                <div class="row">
                    <div class="col s12 divider"></div>
                </div>
                <div class="row">
                    <div ng-if="reviews === null" class="center">
                        <h5 class="center">Loading Reviews...</h5>
                        <loadingcircle></loadingcircle>
                    </div>

                    <!--No reviews-->
                    <div ng-if="reviews !== null && reviews.length === 0">
                        <h5 class="center">Recent Reviews</h5>
                        <p class="center">No reviews</p>
                    </div>
                    <!--End no reviews-->

                    <!--Review list-->
                    <div ng-if="reviews !== null && reviews.length > 0">
                        <h5 class="center">Recent Reviews - <a href="#reviews?gameId={{game.id}}">See All</a></h5>
                        <ul class="collection">
                            <li class="collection-item avatar" ng-repeat="review in reviews">
                                <img ng-src="{{getReviewUserProfilePictureUrl(review)}}" alt="{{review.username}}" class="circle">
                                <span class="title">{{review.username}}</span>
                                <p class="secondary-content" style="color: black;">{{review.date | date: 'mediumDate'}}</p>
                                <a ng-if="canDeleteReview(review)" href="" class="material-icons red-text text-lighten-1" ng-click="deleteReview(review)"><i class="material-icons right">delete</i></a>
                                <p><a href="#reviews?userId={{review.userId}}">Other reviews by {{review.username}}</a></p>
                                <br/>
                                <div class="row">
                                    <p class="col s10 wrap-text preserve-newlines">{{review.body}}</p>
                                    <div class="col s2">
                                        <p style="color: #26a69a;">
                                            Story: <span class="right">{{review.storyScore}}</span>
                                            <br/>
                                            Graphics: <span class="right">{{review.graphicsScore}}</span>
                                            <br/>
                                            Audio: <span class="right">{{review.audioScore}}</span>
                                            <br/>
                                            Controls: <span class="right">{{review.controlsScore}}</span>
                                            <br/>
                                            Fun: <span class="right">{{review.funScore}}</span>
                                            <br/>
                                            <b>Overall: <span class="right">{{overallReviewScore(review) | number : 2}}</span></b>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--End review list-->
                    <div ng-if="canWriteReview" class="row">
                        <div class="col s12 center">
                            <a ng-href="#write-review?id={{game.id}}"
                               class="center btn waves-effect waves-light offset-s4" style="">Write a Review <i
                                    class="material-icons right">send</i></a>
                        </div>
                    </div>
                </div>
            </div>
			<!--END REVIEWS-->

            <!--RELATED GAMES-->
            <div ng-if="relatedGames.length > 0" class="row">
                <div class="row"><div class="col s12 divider"/></div>
                <h5 class="center">Related Games</h5>
                <div class="slick-carousel center" id="related-carousel" data-slick='{"slidesToShow": {{relatedMin}}, "slidesToScroll": {{relatedMin}}}'>
                    <div class="slide-container" ng-repeat="game in relatedGames" on-complete="relatedRendered">
                        <a ng-href="#game?id={{game.id}}">
                            <img ng-src="{{game.coverPictureUrl}}" class="valign"/>
                            <!--data-lazy-->
                        </a>
                        <h5 class="center slide-text">
                            <a ng-href="#game?id={{game.id}}">{{game.name}}</a>
                        </h5>
                    </div>
                </div>
            </div>
            <!--END RELATED-->
		</div>
	</div>
</main>


<script type="text/javascript">
    require(['slick-carousel'], function() {
        //TODO consider only doing this if there are picture or videos or relatedGames
        $(function() {
            $('.slick-carousel').slick({
                infinite: false,
                slidesToShow: 4,
                slidesToScroll: 4,
                arrows: true,
                lazyload: 'ondemand'
            });
        });
    });
</script>

<!--<script type="text/javascript" src="<c:url value="/slick/slick.min.js" />"></script>-->
<!--<script type="text/javascript" src="<c:url value="/js/game.js" />"></script>-->
<!--<script type="text/javascript" src="<c:url value="/js/sweetalert.min.js" />"></script>-->
<!--<link rel="stylesheet" type="text/css" href="<c:url value="/css/sweetalert.css"/>" />-->
<!--<script type="text/javascript">-->
		<!--$(function () {-->
			<!--$("#delete-button").on('click', function (event) {-->
				<!--swal({-->
							<!--title: "Are you sure?",-->
							<!--text: "This game will be removed from all your shelves.",-->
							<!--type: "warning",-->
							<!--showCancelButton: true,-->
							<!--confirmButtonColor: "#DD6B55",-->
							<!--confirmButtonText: "Remove",-->
							<!--closeOnConfirm: false-->
						<!--},-->
						<!--function () {-->
							<!--//Disable submit button to prevent multiple submissions-->
							<!--$(".confirm").attr('disabled', 'disabled');-->
							<!--<c:url value="/delete-shelf" var="deleteUrl" />-->
							<!--//Create an inline form and submit it to redirect with POST-->
							<!--$("<form action='<c:url value="/remove-from-list" />' method='POST'> \-->
                    <!--<input type='hidden' name='gameId' value='${game.id}' /> \-->
                    <!--<input type='hidden' name='userId' value='${currentUser.id}' /> \-->
                    <!--<input type='hidden' name='returnUrl' value='/game?id=${game.id}'/> \-->
                   <!--</form>").submit();-->
						<!--});-->
			<!--});-->

			<!--$(".delete-button").on('click', function (event) {-->
				<!--var reviewId = $(this).data('reviewId');-->
				<!--//Create an inline form and submit it to redirect with POST-->
				<!--$("<form action='<c:url value="/delete-review" />' method='POST'> \-->
                <!--<input type='hidden' name='reviewId' value='" + reviewId + "' /> \-->
                <!--<input type='hidden' name='returnUrl' value='/game?id=${game.id}'/> \-->
               <!--</form>").submit();-->
			<!--});-->

			<!--$("#shelves").on("change", function (event) {-->
				<!--//$(this).material_select();-->
				<!--var selectedShelves = $(this).val();-->
				<!--if (selectedShelves.length == 0) {-->
					<!--//No selected shelves, set everything to false-->
					<!--$(".shelfHidden").val("false");-->
				<!--} else {-->
					<!--$(".shelfHidden").each(function (i, element) {-->
						<!--element = $(element);-->
						<!--element.val(selectedShelves.indexOf(element.attr("name")) != -1);-->
					<!--});-->
				<!--}-->
				<!--$("#shelvesForm").find("button[type=submit]").removeAttr('disabled');-->
			<!--});-->
		<!--});-->
<!--</script>-->
<!--<script type="text/javascript" src="<c:url value="/js/lightbox.js" />"></script>-->
