<!DOCTYPE html>
<html lang="en">
<head>
	<!--<link href="<c:url value="/slick/slick.css" />" type="text/css" rel="stylesheet"/>-->
	<!--<link href="<c:url value="/slick/slick-theme.css" />" type="text/css" rel="stylesheet"/>-->
	<!--<link href="<c:url value="/css/lightbox.css" />" type="text/css" rel="stylesheet"/>-->
	<title ng-controller="GameCtrl">{{game.name}} - PowerUp</title>
	<!--<title><c:out value="${game.name} - PowerUp" /></title>-->
</head>
<main ng-controller="GameCtrl">
	<div class="container" >
		<div class="section no-pad-bot">
			<h1 class="header center orange-text">{{game.name}}</h1>
			<h5 class="center orange-text">{{game.releaseDate}}</h5>
		</div>
		<!--ACTION FORMS-->
		<div class="section">
			<!--RATE AND STATUS FORM-->
			<!--<div class="row">-->
				<!--<c:url value="/rateAndUpdateStatus?id=${game.id}" var="postPath"/>-->
				<!--<form:form modelAttribute="rateAndStatusForm" action="${isLoggedIn ? postPath : ''}" method="post" class="center-align" id="rateAndStatusForm">-->
					<!--<div class="col s3"></div>-->
					<!--<div class="col s6 center-align">-->
						<!--<div class="row" style="margin-bottom:0;">-->
							<!--<div class="col s4 center-align">-->
								<!--<form:select path="score" id="score">-->
									<!--<form:option value="" label="Select score"/>-->
									<!--<form:options items="${scoreValues}"/>-->
								<!--</form:select>-->
								<!--<form:label path="score">Score: </form:label>-->
								<!--<%&#45;&#45;<form:input type="text" path="score"/>&#45;&#45;%>-->
								<!--<form:errors path="score" cssClass="formError" element="p" Style="size: 1px"/>-->
							<!--</div>-->

							<!--<div class="col s4 center-align">-->
								<!--<form:select path="playStatus" id="status">-->
									<!--<%&#45;&#45;<form:option selected="true" value="" label="Select play status" disabled="true"/>&#45;&#45;%>-->
									<!--<form:options items="${statuses}"/>-->
								<!--</form:select>-->
								<!--<form:label path="playStatus">PlayStatus: </form:label>-->
								<!--<%&#45;&#45;<form:input type="playStatus" path="playStatus" />&#45;&#45;%>-->
								<!--<form:errors path="playStatus" cssClass="formError" element="p"/>-->
							<!--</div>-->

							<!--<c:choose>-->
								<!--<c:when test="${isLoggedIn}">-->
									<!--<div class="col s4 center">-->
										<!--<button id="submit" type="submit" class="btn waves-effect waves-light">Update List</button>-->
									<!--</div>-->
								<!--</c:when>-->
								<!--<c:otherwise>-->
									<!--<div class="col s4 center">-->
										<!--<%&#45;&#45;TODO redirect user back here after login&#45;&#45;%>-->
										<!--<a class="btn waves-effect waves-light" href="<c:url value="/login" />">Login</a>-->
									<!--</div>-->
								<!--</c:otherwise>-->
							<!--</c:choose>-->
						<!--</div>-->
					<!--</div>-->
				<!--</form:form>-->
				<!--<c:if test="${isLoggedIn && canUpdateShelves}">-->
					<!--<button id="delete-button" class="btn waves-effect waves-light red lighten-1">Remove <i class="material-icons right">delete</i></button>-->
				<!--</c:if>-->
			<!--</div>-->
			<!--END RATE AND STATUS FORM-->
			<!--SHELVES FORM-->
			<!--<c:if test="${canUpdateShelves}">-->
				<!--<div class="row" style="margin-bottom:0; margin-top: 0;">-->
					<!--<c:url value="/update-shelves-by-game" var="shelvesUrl"/>-->
					<!--<form action="${isLoggedIn ? shelvesUrl : ''}" method="POST" class="center-align" id="shelvesForm">-->
						<!--<input type="hidden" name="gameId" value="${game.id}"/>-->
						<!--<div class="col s3"></div>-->
						<!--<div class="col s8 center-align">-->
							<!--<p class="col s4 center">Update in shelves</p>-->
							<!--<div class="col s4">-->
								<!--<c:choose>-->
									<!--<c:when test="${fn:length(shelves) == 0}">-->
										<!--<p>You have no shelves. Why not <a href="<c:url value="/list" />">create-->
											<!--one</a>?</p>-->
									<!--</c:when>-->
									<!--<c:otherwise>-->
										<!--<select id="shelves" multiple>-->
											<!--<option value="" disabled selected>Select shelves</option>-->
											<!--<%&#45;&#45;<option id="newShelf" value="newShelf" >New shelf...</option>&#45;&#45;%>-->
											<!--<c:forEach var="entry" items="${shelves}">-->
												<!--<c:set var="shelf" value="${entry.key}"/>-->
												<!--<c:set var="isInShelf" value="${entry.value}"/>-->
												<!--<option value="${shelf.id}" <c:if test="${isInShelf}">selected</c:if>><c:out value="${shelf.name}"/></option>-->
											<!--</c:forEach>-->
										<!--</select>-->
										<!--<%&#45;&#45;Forced to loop twice, the <input> element can't go inside the <select>&#45;&#45;%>-->
										<!--<c:forEach var="entry" items="${shelves}">-->
											<!--<c:set var="shelf" value="${entry.key}"/>-->
											<!--<c:set var="isInShelf" value="${entry.value}"/>-->
											<!--<input type="hidden" class="shelfHidden" name="${shelf.id}" value="${isInShelf}"/>-->
										<!--</c:forEach>-->
									<!--</c:otherwise>-->
								<!--</c:choose>-->
							<!--</div>-->

							<!--<c:choose>-->
								<!--<c:when test="${isLoggedIn}">-->
									<!--<button type="submit" class="btn waves-effect waves-light">Update Shelves</button>-->
								<!--</c:when>-->
								<!--<c:otherwise>-->
									<!--<%&#45;&#45;TODO redirect user back  here after login&#45;&#45;%>-->
									<!--<a class="btn waves-effect waves-light" href="<c:url value="/login" />">Log in</a>-->
								<!--</c:otherwise>-->
							<!--</c:choose>-->
						<!--</div>-->
					<!--</form>-->
				<!--</div>-->
			<!--</c:if>-->
			<!--END SHELVES FORM-->
		</div>
		<!--END ACTION FORMS-->

		<div class="section">
			<!--<c:choose>-->
				<!--<c:when test="${game == null}">-->
					<!--<div class="row">-->
						<!--<h3 class="center">No game found =(</h3>-->
						<!--<h5 class="center">Go back <a href="<c:url value='/' />">home</a></h5>-->
					<!--</div>-->
				<!--</c:when>-->
				<!--<c:otherwise>-->
					<div class="row">
						<img class="col s3" ng-src="{{game.coverPictureUrl}}"  alt="{{game.name}}">
						<div class="col s5">
							<p style="margin-top: 0;">
								<!--<c:out value=" ${genre.name}" /> WAAAAAAT-->
							<div ng-switch="game.summary">
								<div ng-switch-when="null">No summary =(</div>
								<div ng-switch-default>{{game.summary}}</div>
							</div>

							</p>
						</div>
						<div class="col s4">
							<p><b>Rating</b></p>
							<div ng-if="game.avgScore > 0">
								<p style="margin-top:0;"><span>{{game.avgScore | number:2}}</span></p>
							</div>
							<div ng-if="game.avgScore <= 0">
								<p style="margin-top:0;">unrated</p>
							</div>
							<p><b>Genres</b></p>
							<div ng-repeat="genre in game.genres">
								<a href='#/search?genre={{genre}}'>
									{{genre}}
								</a>
							</div>
							<br/>
							<p><b>Platforms</b></p>
							<div ng-repeat="platform in game.platforms">
								<a href='#/search?platform={{platform.name}}'>
									{{platform.name}}
								</a>
								<span style="font-size: small; float: right;">{{platform.releaseDate}}</span>
							</div>
							<br/>
							<p><b>Developers</b></p>
							<div ng-repeat="developer in game.developers">
								<a href='#/search?developer={{developer}}'>
									{{developer}}
								</a>
							</div>
							<br/>
							<p><b>Publishers</b></p>
							<div ng-repeat="publisher in game.publishers">
								<a href='#/search?publisher={{publisher}}'>
									{{publisher}}
								</a>
							</div>
							<div class="col s12 divider"></div>
							<br/>
						</div>
					</div>

					<!--SCREENSHOTS AND VIDEOS-->
                    <div class="row" ng-if="game.videoUrls || game.pictureUrls">
                        <div class="col s12 divider"></div>

                        <div class="row" ng-if="game.videoUrls">
                            <h4 class="center">Videos</h4>
                            <div class="slick-carousel center" id="videos-carousel" data-slick='{"slidesToShow": {{videosMin}}, "slidesToScroll": {{videosMin}}}'>
                                <div class="slide-container" ng-repeat="video in game.videoUrls">
                                    <iframe type="text/html" width="{{game.videoUrls.length > 1 ? '90%' : '640'}}"
                                            height="360" ng-src="{{video}}" frameborder="0">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="game.pictureUrls">
                        <div class="row" ng-if="game.videoUrls">
                            <div class="col s12 divider"></div>
                        </div>

                        <div class="row" >
                            <h4 class="center">Screenshots</h4>
                            <div class="slick-carousel center" id="screenshots-carousel" data-slick='{"slidesToShow": {{picturesMin}}, "slidesToScroll": {{picturesMin}}}'>
                                <div class="slide-container" ng-repeat="picture in game.pictureUrls">
                                    <div class="valign-wrapper slide-image">
                                        <a href="{{picture}}" data-lightbox="screenshot-{{$index}}">
                                            <img ng-src="{{picture}}" class="valign"/>
                                            <!--TODO re-enable lazy loading, a game can have a lot of images-->
                                            <!--<img data-lazy="{{picture}}" class="valign"/>-->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<!--END SCREENSHOTS AND VIDEOS-->

					<!--REVIEWS-->
					<!--<div class="row">-->
						<!--<div class="col s12 divider"></div>-->
					<!--</div>-->
					<!--<div class="row">-->
						<!--<c:choose>-->
							<!--<%&#45;&#45;No Reviews&#45;&#45;%>-->
							<!--<c:when test="${fn:length(reviews) == 0}">-->
								<!--<h5 class="center">Recent Reviews</h5>-->
								<!--<p class="center">No reviews</p>-->
							<!--</c:when>-->
							<!--<%&#45;&#45;End No Reviews&#45;&#45;%>-->
							<!--<%&#45;&#45;Review list&#45;&#45;%>-->
							<!--<c:otherwise>-->
								<!--<h5 class="center">Recent Reviews - <a-->
										<!--href="<c:url value="/reviews?gameId=${game.id}" />">See All</a></h5>-->
								<!--<ul class="collection">-->
									<!--<c:forEach items="${reviews}" var="review">-->
										<!--<li class="collection-item avatar">-->
											<!--<img src="<c:url value="/profile-picture?username=${review.user.username}" />" alt="<c:out value="${review.user.username}" />" class="circle">-->
											<!--<span class="title"><c:out value="${review.user.username}" /></span>-->
											<!--<p class="secondary-content" style="color: black;">${review.date}</p>-->
											<!--<c:if test="${review.user.username == currentUsername}">-->
												<!--<a href="#!" class="material-icons red-text text-lighten-1 delete-button" data-review-id="${review.id}"><i class="material-icons right">delete</i></a>-->
											<!--</c:if>-->
											<!--<p><a href="<c:url value="/reviews?userId=${review.user.id}" />">Other reviews by <c:out value="${review.user.username}" /></a></p>-->
											<!--<br/>-->
											<!--<div class="row">-->
												<!--<p class="col s10 wrap-text preserve-newlines"><c:out value="${review.review}" /></p>-->
												<!--<div class="col s2">-->
													<!--<p style="color: #26a69a;">-->
														<!--Story: <span class="right">${review.storyScore}</span>-->
														<!--<br/>-->
														<!--Graphics: <span class="right">${review.graphicsScore}</span>-->
														<!--<br/>-->
														<!--Audio: <span class="right">${review.audioScore}</span>-->
														<!--<br/>-->
														<!--Controls: <span class="right">${review.controlsScore}</span>-->
														<!--<br/>-->
														<!--Fun: <span class="right">${review.funScore}</span>-->
														<!--<br/>-->
														<!--<b>Overall: <span class="right"><fmt:formatNumber-->
																<!--value="${review.overallScore}"-->
																<!--maxFractionDigits="2"/></span></b>-->
													<!--</p>-->
												<!--</div>-->
											<!--</div>-->
										<!--</li>-->
									<!--</c:forEach>-->
								<!--</ul>-->
							<!--</c:otherwise>-->
							<!--<%&#45;&#45;End Review List&#45;&#45;%>-->
						<!--</c:choose>-->

						<!--<c:if test="${canSubmitReview}">-->
							<!--<div class="row">-->
								<!--<div class="col s12 center">-->
									<!--<a href="<c:url value="/write-review?id=${game.id}" />"-->
									<!--class="center btn waves-effect waves-light offset-s4" style="">Write a Review <i-->
										<!--class="material-icons right">send</i></a>-->
								<!--</div>-->
							<!--</div>-->
						<!--</c:if>-->
					<!--</div>-->
					<!--END REVIEWS-->

					<!--RELATED GAMES-->
					<!--<c:if test="${ fn:length( relatedGames) > 0 }">-->
						<!--<div class="row">-->
							<!--<div class="col s12 divider"></div>-->
						<!--</div>-->
						<!--<div class="row">-->
							<!--<h5 class="center">Related Games</h5>-->
							<!--<div class="slick-carousel" id="related-games-carousel">-->
								<!--<c:forEach var="game" items="${relatedGames}">-->
									<!--<div class="slide-container">-->
										<!--<div class="valign-wrapper slide-image">-->
											<!--<a href="<c:url value="/game?id=${game.id}"/>">-->
											<!--<img data-lazy="${game.coverPictureUrl}" class="valign"/>-->
											<!--</a>-->
										<!--</div>-->
										<!--<h5 class="center slide-text">-->
											<!--<a href="<c:url value="/game?id=${game.id}"/>">${game.name}</a>-->
										<!--</h5>-->
									<!--</div>-->
								<!--</c:forEach>-->
							<!--</div>-->
						<!--</div>-->
					<!--</c:if>-->
					<!--END RELATED GAMES-->
		</div>
	</div>
</main>

<script type="text/javascript">
    require(['slick-carousel', 'lightbox2'], function() {
        //TODO consider only doing this if there are picture or videos
        $(function() {
            $('#videos-carousel').slick({
                infinite: false,
                arrows: true
            });

            $('#screenshots-carousel').slick({
                infinite: false,
                arrows: true,
                lazyload: 'ondemand'
            });
        });

        //TODO initialize Slick for related games
    });

</script>
<!--<script type="text/javascript" src="<c:url value="/slick/slick.min.js" />"></script>-->
<!--<script type="text/javascript" src="<c:url value="/js/game.js" />"></script>-->
<!--<script type="text/javascript" src="<c:url value="/js/sweetalert.min.js" />"></script>-->
<!--<link rel="stylesheet" type="text/css" href="<c:url value="/css/sweetalert.css"/>" />-->
<!--<script type="text/javascript">-->
		<!--$(function () {-->
			<!--$("#delete-button").on('click', function (event) {-->
				<!--swal({-->
							<!--title: "Are you sure?",-->
							<!--text: "This game will be removed from all your shelves.",-->
							<!--type: "warning",-->
							<!--showCancelButton: true,-->
							<!--confirmButtonColor: "#DD6B55",-->
							<!--confirmButtonText: "Remove",-->
							<!--closeOnConfirm: false-->
						<!--},-->
						<!--function () {-->
							<!--//Disable submit button to prevent multiple submissions-->
							<!--$(".confirm").attr('disabled', 'disabled');-->
							<!--<c:url value="/delete-shelf" var="deleteUrl" />-->
							<!--//Create an inline form and submit it to redirect with POST-->
							<!--$("<form action='<c:url value="/remove-from-list" />' method='POST'> \-->
                    <!--<input type='hidden' name='gameId' value='${game.id}' /> \-->
                    <!--<input type='hidden' name='userId' value='${currentUser.id}' /> \-->
                    <!--<input type='hidden' name='returnUrl' value='/game?id=${game.id}'/> \-->
                   <!--</form>").submit();-->
						<!--});-->
			<!--});-->

			<!--$(".delete-button").on('click', function (event) {-->
				<!--var reviewId = $(this).data('reviewId');-->
				<!--//Create an inline form and submit it to redirect with POST-->
				<!--$("<form action='<c:url value="/delete-review" />' method='POST'> \-->
                <!--<input type='hidden' name='reviewId' value='" + reviewId + "' /> \-->
                <!--<input type='hidden' name='returnUrl' value='/game?id=${game.id}'/> \-->
               <!--</form>").submit();-->
			<!--});-->

			<!--$("#shelves").on("change", function (event) {-->
				<!--//$(this).material_select();-->
				<!--var selectedShelves = $(this).val();-->
				<!--if (selectedShelves.length == 0) {-->
					<!--//No selected shelves, set everything to false-->
					<!--$(".shelfHidden").val("false");-->
				<!--} else {-->
					<!--$(".shelfHidden").each(function (i, element) {-->
						<!--element = $(element);-->
						<!--element.val(selectedShelves.indexOf(element.attr("name")) != -1);-->
					<!--});-->
				<!--}-->
				<!--$("#shelvesForm").find("button[type=submit]").removeAttr('disabled');-->
			<!--});-->
		<!--});-->
<!--</script>-->
<!--<script type="text/javascript" src="<c:url value="/js/lightbox.js" />"></script>-->
</body>
</html>
