<div ng-show="loading">
  <div class="row">
    <div class="col-md-12">
      <div style="min-height: 70vh; display: flex; align-items: center">
        <img src="/images/loading.gif" class="img-responsive center-block"/>
      </div>
    </div>
  </div>
</div>

<div ng-show="!loading">
  <div class="container-fluid" style="padding-top: 20px">
    <div class="col-sm-2 text-center">


      <nav class="nav-sidebar">
        <ul class="nav tabs">
          <li class="active"><a ng-href="#tab1" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user pull-left"></span>{{'userpage_personalinfo' | translate}}</a></li>
          <li class="nav-divider"></li>
          <li><a ng-href="#tab6" role="tab" data-toggle="tab" ng-click="loadUserReviews()"><span class="fa fa-comment fa-6 pull-left"></span>{{'userpage_reviews' | translate}}</a></li>
          <li class="nav-divider"></li>
          <li><a ng-href="#tab2" id="tabOffers" role="tab" data-toggle="tab" ng-click="loadUserOffers()"><span class="fa fa-gamepad fa-6 pull-left" area-hidden="true"></span>{{'userpage_offers' | translate}}</a></li>

          <!--<div ng-if="loggedUserId == id">-->

          <li class="nav-divider"></li>

          <!--liked users-->
          <li><a ng-href="#tab7" role="tab" data-toggle="tab" ng-click="loadUserLikes()"><span class="glyphicon glyphicon-heart pull-left"></span>{{'userpage_userLikes' | translate}}</a></li>
          <!--liked games-->
          <li><a ng-href="#tab8" role="tab" data-toggle="tab" ng-click="loadProductInterests()"><span class="glyphicon glyphicon-star pull-left"></span>{{'userpage_productInterests' | translate}}</a></li>

          <li class="nav-divider" ng-if="loggedUserId == id"></li>

          <!--trades by me-->
          <li ng-if="loggedUserId == id"><a id="tabTradeOffers" ng-href="#tab3" role="tab" data-toggle="tab"  ng-click="loadTradesByMe()"><span class="glyphicon glyphicon-arrow-right pull-left"></span>{{'userpage_whatyouoffered' | translate}}</a></li>
          <!--trades to me-->
          <li ng-if="loggedUserId == id"><a ng-href="#tab4" id="tabTradeRequests" role="tab" data-toggle="tab" ng-click="loadTradesToMe()"><span class="glyphicon glyphicon-arrow-left pull-left"></span>{{'userpage_whatheyhaveofferedyou' | translate}}</a></li>

          <li class="nav-divider" ng-if="loggedUserId == id"></li>

          <!--history      -->
          <li ng-if="loggedUserId == id"><a id="tabHistory" ng-href="#tab5" role="tab" data-toggle="tab" ng-click="loadDoneTrades()"><span class="glyphicon glyphicon-transfer pull-left"></span>{{'userpage_history' | translate}}</a></li>

          <li class="nav-divider" ng-if="loggedUserId == id"></li>
          <!-- settings -->
          <li ng-if="loggedUserId == id"><a id="tabSettings" ng-href="#tab9" role="tab" data-toggle="tab" ng-click="loadSettings()"><span class="fa fa-gear fa-6 pull-left"></span>{{'userpage_settings' | translate}}</a></li>
        </ul>
      </nav>
    </div>
    <!-- tab content -->

    <div class="col-sm-10">

    <div ng-show="username!=undefined">
      <div class="tab-content">
        <div class="tab-pane active text-style" id="tab1">
          <personal-info
            user=user iconId=iconId
            new-icon-form="newIconForm" logged-user-id=loggedUserId
            changepassform=changepassform change-password=changePassword
            select-icon-modal="selectIconModal" change-icon="changeIcon"
            not-old-pass="notOldPass" like=like
            unlike=unlike already-liked="alreadyLiked"
            id="id" password-pattern="passwordPattern"></personal-info>
        </div>

        <!-- TAB #1: REVIEWS -->
        <div class="tab-pane text-style" id="tab6" style="padding-bottom: 20px">
          <user-reviews user=user reviews="userReviews" loggeduserid="loggedUserId"></user-reviews>
        </div>

        <!-- TAB #2: OFFERS -->
        <div class="tab-pane text-style" id="tab2" >

          <div ng-show="loadingOffer">
            <div class="row">
              <div class="col-md-12">
                <div style="min-height: 60vh; display: flex; align-items: center">
                  <img src="/images/loading.gif" class="img-responsive center-block"/>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="!loadingOffer">
            <user-offers offers=offers userid=user.userid loggedid=loggedUserId username=username delete-offer=deleteOffer loadingOffer = loadingOffer></user-offers>
          </div>

        </div>

        <!-- TAB #/: LIKED USERS-->
        <div class="tab-pane text-style" id="tab7">

          <div ng-show="loadingUserLikes">
            <div class="row">
              <div class="col-md-12">
                <div style="min-height: 60vh; display: flex; align-items: center">
                  <img src="/images/loading.gif" class="img-responsive center-block"/>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="!loadingUserLikes">
            <liked-users userlikes=userLikes userid=user.userid loggeduserid="loggedUserId" username="username" unfav=unfav unlike-other=unlikeOther></liked-users>
          </div>

        </div>

        <!-- TAB #8: PRODUCT INTERESTS-->
        <div class="tab-pane text-style" id="tab8">
          <div ng-show="loadingProductInterests">
            <div class="row">
              <div class="col-md-12">
                <div style="min-height: 60vh; display: flex; align-items: center">
                  <img src="/images/loading.gif" class="img-responsive center-block"/>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="!loadingProductInterests">
            <product-interests productinterests=productInterests user=user loggedid=loggedUserId uninterest=uninterest></product-interests>
          </div>
        </div>

        <!--<div ng-show="loggedUserId == id">-->


        <!-- TAB #3: TRADE OFFERS -->
        <div class="tab-pane text-style" id="tab3" ng-if="loggedUserId == id">

          <div ng-show="loadingTradesByMe">
            <div class="row">
              <div class="col-md-12">
                <div style="min-height: 60vh; display: flex; align-items: center">
                  <img src="/images/loading.gif" class="img-responsive center-block"/>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="!loadingTradesByMe">
            <trade-offers trades=tradesByMe complete-trade=completeTrade
                  cancel-accepted-trade=cancelAcceptedTrade cancel-trade=cancelTrade></trade-offers>
          </div>

        </div>

        <!-- TAB #4: TRADE REQUESTS -->
        <div class="tab-pane text-style" id="tab4" ng-if="loggedUserId == id">

          <div ng-show="loadingTradesToMe">
            <div class="row">
              <div class="col-md-12">
                <div style="min-height: 60vh; display: flex; align-items: center">
                  <img src="/images/loading.gif" class="img-responsive center-block"/>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="!loadingTradesToMe">
            <trade-requests trades=tradesToMe accept-trade=acceptTrade reject-trade="rejectTrade"
                            cancel-accepted-trade=cancelAcceptedTrade complete-trade=completeTrade>
            </trade-requests>
          </div>


        </div>

        <div class="tab-pane text-style" id="tab5" ng-if="loggedUserId == id">
          <div ng-show="loadingDoneTrades">
            <div class="row">
              <div class="col-md-12">
                <div style="min-height: 60vh; display: flex; align-items: center">
                  <img src="/images/loading.gif" class="img-responsive center-block"/>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="!loadingDoneTrades">
            <user-history donetrades=doneTrades review-user=reviewUser user-review-form=userReviewForm user=user></user-history>
          </div>
        </div>


        <!-- TAB #9: SETTINGS -->
        <div class="tab-pane text-style" id="tab9" ng-if="loggedUserId == id">
          <div ng-show="loadingSettings">
            <div class="row">
              <div class="col-md-12">
                <div style="min-height: 60vh; display: flex; align-items: center">
                  <img src="/images/loading.gif" class="img-responsive center-block"/>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="!loadingSettings">
            <settings acceptedmail=acceptedMail canceledmail=canceledMail
              completedmail=completedMail newtrademail=newTradeMail
              rejectedmail=rejectedMail edit-settings=editSettings
              cancel-edit=cancelEdit apply-setting-changes=applySettingChanges></settings>
          </div>
        </div>

      </div>
    </div>

    <div ng-show="username==undefined">
      <div class="row top-pad">
        <div class="col-md-12"  style="text-align: center; padding-bottom: 20px">
          <h3 style="text-align: center">{{'userpage_notfound' | translate}}</h3>
          <img src="/images/user-not-found.png" class="img-responsive center-block" style="max-height: 700px"/>
        </div>
      </div>
    </div>


  </div>

</div>

</div>
