.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.rating-stars {
    color: #FFD700;
}

.rating-number {
    color: rgba(0, 0, 0, 0.87);
}

#results > li {
    height: 100px;
    padding: 0;
}

#results > li > img {
    max-height: 100px;
    width: auto;
    padding-left: 0;
}

#results > li > .primary-content {
    padding-top: 10px;
}

#results > li > .primary-content .title {
    font-size: 25px;
    margin-bottom: 10px;
}

.search-results {
    margin-top: 80px;
}

.filters-row {
    margin-bottom: 0;
}

.select-title {
    font-weight: bold;
    margin-bottom: 0;
}

.select-drop-down {
    margin-bottom: 0;
}

.select-wrapper.select-drop-down {
    padding-left: 0;
}

.games-count {
    margin-top: 0;
}

.games-count > div {
    font-weight: bold;
}
.games-count-text {
    font-weight: bold;
}

/*#logo-container {*/
    /*height: 60px;*/
/*}*/

/* Sticky footer rules */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
