.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.rating-stars {
    color: #FFD700;
}

.rating-number {
    color: rgba(0, 0, 0, 0.87);
}

.games-list li {
    height: 100px;
    padding: 0 !important;
}

.games-list li img {
    max-height: 100px;
    width: auto;
    padding-left: 0;
}

.games-list .primary-content {
    padding-top: 10px;
}

.games-list li .primary-content .title {
    font-size: 25px !important;
    margin-bottom: 10px;
}

.ul_game_list{
    margin-top: 5px;
}

.div_none {
    margin-top: 5px;
}
.filters-row {
    margin-bottom: 0;
}

.select-title {
    font-weight: bold;
    margin-bottom: 0;
}

.select-drop-down {
    margin-bottom: 0;
}

.select-wrapper.select-drop-down {
    padding-left: 0;
}

.games-count {
    margin-top: 0;
}

.games-count > div {
    font-weight: bold;
}

.games-count-text {
    font-weight: bold;
}

.slick-carousel img {
    max-height: 400px;
    width: 100%;
    padding: 0 5px;
}

.slick-prev:before, .slick-next:before {
    color: grey !important;
}


.search-results {
    margin-top: 80px;
}

.filters-row {
    margin-bottom: 0;
}

.select-title {
    font-weight: bold;
    margin-bottom: 0;
}

.select-drop-down {
    margin-bottom: 0;
}

.select-wrapper.select-drop-down {
    padding-left: 0;
}

.games-count {
    margin-top: 0;
}

.games-count > div {
    font-weight: bold;
}
.games-count-text {
    font-weight: bold;
}

/*#logo-container {*/
    /*height: 60px;*/
/*}*/

/* Sticky footer rules */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
