<main class="section">
    <div ng-controller="ThreadsCtrl" class="container row" ng-init="getThreads()">
        <!--Title-->
        <h1 class="center">PowerUp Threads</h1>

        <!--Threads-->
        <div class="row">
            <div ng-if="threads === null" class="center">
                <h5>Fetching threads...</h5>
                <loadingcircle></loadingcircle>
            </div>

            <h5 ng-if="threads && threads.length == 0" class="center">
                No threads to show.
                <span ng-if="isLoggedIn">Why not <a href="#create-thread">create one?</a></span>
            </h5>
            <div ng-if="threads && threads.length > 0">
                <div class="row">
                    <div class="col s12">
                        <a class="btn waves-effect waves-light {{(order == 'hot')? '' : 'inactive'}}"
                           ng-href="#threads?order=hot">Hottest</a>
                        <a class="btn waves-effect waves-light {{(order == 'newest')? '' : 'inactive'}}"
                           ng-href="#threads?order=newest">Newest</a>
                        <a class="btn waves-effect waves-light {{(order == 'best')? '' : 'inactive'}}"
                           ng-href="#threads?order=best">Highest Scoring</a>
                    </div>
                </div>
                <div class="row">
                    <ul ng-if="threads.length > 0" class="collection">
                        <li ng-repeat="thread in threads" class="collection-item avatar">

                            <img ng-src="{{apiLocation}}/users/{{thread.creatorId}}/picture" alt="{{thread.creatorUsername}}" class="circle">
                            <a class="title truncate" ng-href="#thread/{{thread.id}}">{{thread.title}}</a>

                            <!--<p>Submitted <fmt:formatDate value="${thread.createdAt.time}" type="both" /> by <c:out value="${thread.creator.username}" /></p>-->
                            <p>Submitted TODO created date {{thread.createdAt}}<!--createdAt.Time--> by {{thread.creatorUsername}}</p>
                            <br>
                            <p class="truncate">
                                TODO initial comment if present {{thread.initialComment}}
                            </p>

                            <!--Un/like section-->
                            <span class="secondary-content">
                                <b>TODO like count{{thread.likeCount}}</b>
                                <!--Not logged in - black actionless thumbs up-->
                                <i ng-if="!isLoggedIn" class="material-icons black-text">thumb_up</i>
                                <!--Logged in and liked - green thumbs up with action to unlike-->
                                <a ng-if="isLoggedIn && isLikedByCurrentUser(thread)" ng-click="unlikeThread(thread)" href="">
                                    <i class="material-icons green-text">thumb_up</i>
                                </a>
                                <!--Logged in and not liked - black thumbs up with action to like-->
                                <a ng-if="isLoggedIn && !isLikedByCurrentUser(thread)" ng-click="likeThread(thread)" href="">
                                    <i class="material-icons black-text">thumb_up</i>
                                </a>
                            </span>
                            <!--End un/like section-->
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--FAB-->
        <div ng-if="isLoggedIn" class="fixed-action-btn" style="bottom:10%;">
            <a href="#create-thread" id="create-thread-fab" class="btn-floating btn-large waves-effect waves-light red">
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>
        <!--END FAB-->
    </div>

</main>

<!--<script type="text/javascript">-->
    <!--$(function() {-->
        <!--$(".like-thread").on("click", function(event) {-->
            <!--var threadId = $(this).data("thread-id");-->
            <!--//Create an inline form and submit it to redirect with POST-->
            <!--$("<form action='<c:url value="/like-thread" />' method='POST'> \-->
                <!--<input type='hidden' name='threadId' value='" + threadId + "' /> \-->
                <!--<input type='hidden' name='returnUrl' value='/threads#" + threadId + "' /> \-->
               <!--</form>").submit();-->
        <!--});-->

        <!--$(".unlike-thread").on("click", function(event) {-->
            <!--var threadId = $(this).data("thread-id");-->
            <!--//Create an inline form and submit it to redirect with POST-->
            <!--$("<form action='<c:url value="/unlike-thread" />' method='POST'> \-->
                <!--<input type='hidden' name='threadId' value='" + threadId + "' /> \-->
                <!--<input type='hidden' name='returnUrl' value='/threads#" + threadId + "' /> \-->
               <!--</form>").submit();-->
        <!--});-->
    <!--});-->
<!--</script>-->