<main class="section">
	<div class="container row">
        <div ng-if="thread === null" class="center">
            <h5>Fetching thread...</h5>
            <loadingcircle></loadingcircle>
        </div>

		<div ng-if="thread !== null">
			<!--Title-->
			<h1 class="center wrap-text"> {{thread.title}} </h1>

			<!--Original comment-->
			<div class="row">
				<ul class="collection">
					<li class="collection-item avatar">
						<img ng-src="{{apiLocation}}/users/{{thread.creator.id}}/picture" alt="{{thread.creator.username}}" class="circle">
						<span class="title wrap-text">Submitted by <a ng-href="#profile?username={{thread.creator.username}}">{{thread.creator.username}}</a></span>
						<!--<p>Submitted <fmt:formatDate value="${thread.createdAt.time}" type="both" /> by <c:out value="${thread.creator.username}" /></p>-->
						<p>{{thread.createdAt}}</p>
						<br>
						<p class="preserve-newlines wrap-text">{{thread.body}}</p>

						<form ng-if="changeThreadCommentFormVisible" id="change-thread-comment-form" ng-submit="changeThreadComment()" style="margin-top: 10px;">
							<div class="row">
								<div class="input-field col s12">
									<textarea id="change-thread-comment-textarea" class="materialize-textarea" required="required" style="height: 22px;">{{thread.body}}</textarea>
									<label for="change-thread-comment-textarea" class="active">New initial comment</label>
								</div>
							</div>
							<div class="row">
								<div class="col s4 offset-s5">
									<button type="submit" class="col s6 btn btn-large waves-effect light-blue">
										Submit <i class="material-icons right">send</i>
									</button>
								</div>
							</div>
						</form>

						<!--Thread action links-->
						<div ng-if="isLoggedIn && isCurrentUser" class="action-links">
							<!--Rename link-->
							<a ng-click="changeTitle()">Change Title</a>
							<!--Edit link-->
							| <a ng-click="showChangeThreadCommentForm()">Change Comment</a>
							<!--Delete link-->
							| <a ng-click="deleteThread()"  id="delete-thread">Delete</a>
						</div>

						<div class="action-form"></div>

                        <!--Thread un/like section-->
                        <span class="secondary-content">
                            <b style="vertical-align: text-bottom">{{thread.likeCount}}</b>
                            <!--Not logged in - black actionless thumbs up-->
                            <i ng-if="!isLoggedIn" class="material-icons black-text">thumb_up</i>
                            <!--Logged in and liked - green thumbs up with action to unlike-->
                            <a ng-if="isLoggedIn && isLikedByCurrentUser(thread)" ng-click="unlikeThread(thread)" ng-class="{disabled: thread.likesDisabled}" href="">
                                <i class="material-icons green-text">thumb_up</i>
                            </a>
                            <!--Logged in and not liked - black thumbs up with action to like-->
                            <a ng-if="isLoggedIn && !isLikedByCurrentUser(thread)" ng-click="likeThread(thread)" ng-class="{disabled: thread.likesDisabled}" href="">
                                <i class="material-icons black-text">thumb_up</i>
                            </a>
                            </span>
                        <!--End thread un/like section-->
					</li>
				</ul>
			</div>

			<div class="row col s12 divider"></div>

			<!--COMMENTS-->
			<div ng-if="comments === null" class="center">
				<h5>Fetching thread comments...</h5>
				<loadingcircle></loadingcircle>
			</div>
			<div ng-if="comments !== null">
				<div class="row">
					<h5 ng-if="comments.length == 0" class="center">No comments. Leave the first comment!</h5>
					<h5 ng-if="comments.length > 0" class="center">Comments</h5>

					<ul class="collection" ng-if="comments.length > 0">
						<li ng-repeat="comment in comments" class="collection-item avatar">
							<!--Comment info-->
							<a name="{{comment.id}}"></a>
							<img ng-src="{{comment.commenter.profilePictureUrl}}" alt="{{comment.commenter.username}}" class="circle">
							<span class="title wrap-text">
								<a ng-href="#profile?username={{comment.commenter.username}}">{{comment.commenter.username}}</a>
							</span>
							<p class="wrap-text">Submitted {{comment.createdAt}}</p>
							<br />
							<p class="preserve-newlines wrap-text">{{comment.body}}</p>
							<!--End comment info-->

							<!--Comment action links-->
							<div class="action-links" ng-if="isLoggedIn">
								<!--Reply link-->
								<a href="" class="reply-link" data-comment-id="1" data-form-shown="false">Reply</a>
								<!--Edit link-->
								| <a href="" class="edit-comment-link" data-comment-id="1" data-comment="According to my mom, to be is the best option" data-form-shown="false">Edit</a>
								<!--Delete link-->
								| <a href="" class="delete-comment-link" data-comment-id="1" data-form-shown="false">Delete</a>
							</div>
							<!--End comment action links-->

                            <!--Comment un/like section-->
                            <span class="secondary-content">
                                <b style="vertical-align: text-bottom">{{comment.likeCount}}</b>
                                    <!--Not logged in - black actionless thumbs up-->
                                <i ng-if="!isLoggedIn" class="material-icons black-text">thumb_up</i>
                                    <!--Logged in and liked - green thumbs up with action to unlike-->
                                <a ng-if="isLoggedIn && isLikedByCurrentUser(comment)" ng-click="unlikeComment(comment)" ng-class="{disabled: comment.likesDisabled}" href="">
                                    <i class="material-icons green-text">thumb_up</i>
                                </a>
                                    <!--Logged in and not liked - black thumbs up with action to like-->
                                <a ng-if="isLoggedIn && !isLikedByCurrentUser(comment)" ng-click="likeComment(comment)" ng-class="{disabled: comment.likesDisabled}" href="">
                                    <i class="material-icons black-text">thumb_up</i>
                                </a>
                            </span>
                            <!--End comment un/like section-->

                            <!--TODO comment replies-->
						</li>
					</ul>
					<!--Load more comments-->
					<div>
						<p ng-if="!hasMoreComments">No more comments</p>
						<a ng-if="hasMoreComments && !pendingRequests.comments.getTopLevel" href="" ng-click="getMoreTopLevelComments()">Load more comments</a>
						<p style="display:inline-block" ng-if="pendingRequests.comments.getTopLevel">Fetching more comments...</p>
						<div ng-if="pendingRequests.comments.getTopLevel" style="display: inline-block; vertical-align: middle">
							<loadingcircle></loadingcircle>
						</div>
					</div>
					<!--End load more comments-->
				</div>

				<!--Add a comment form-->
				<div ng-if="isLoggedIn" class="row">
					<form name="commentForm" class="css-form" ng-submit="createComment(newComment)">
						<div class='row'>
							<div class='input-field col s12'>
								<textarea id="new-comment-textarea" type="text" ng-model="newComment" required="required" class="materialize-textarea"></textarea>
								<label for="new-comment-textarea">New comment</label>
							</div>
						</div>
						<div class='row'>
							<div class="col s4 offset-s5">
								<button type='submit' class='col s6 btn btn-large waves-effect light-blue' ng-disabled="pendingRequests.comments.create">
									Submit <i class="material-icons right">send</i>
								</button>
							</div>
						</div>
					</form>
				</div>
				<!--End comment form-->
			</div>
		</div>
		<!--END COMMENTS-->

		<!--FAB-->
		<div ng-if="isLoggedIn()" class="fixed-action-btn" style="bottom:10%;">
			<!--href="<c:url value="/create-thread" />"-->
			<a id="create-thread-fab" class="btn-floating btn-large waves-effect waves-light red">
				<!--TODO do create threads-->
				<i class="large material-icons">mode_edit</i>
			</a>
		</div>
		<!--END FAB-->
	</div>
</main>

<!--Sweet Alert-->
<!--<script type="text/javascript" src="<c:url value="/js/sweetalert.min.js" />"></script>-->
<!--<link rel="stylesheet" type="text/css" href="<c:url value="/css/sweetalert.css"/>" />-->
<!--&lt;!&ndash;End Sweet Alert&ndash;&gt;-->
<!--<script type="text/javascript">-->
		<!--$(function () {-->

			<!--/* ************************-->
			 <!--*      Thread actions-->
			 <!--* ***********************/-->

			<!--$(".like-thread").on("click", function(event) {-->
				<!--var threadId = $(this).data("thread-id");-->
				<!--//Create an inline form and submit it to redirect with POST-->
				<!--$("<form action='<c:url value="/like-thread" />' method='POST'> \-->
                <!--<input type='hidden' name='threadId' value='" + threadId + "' /> \-->
                <!--<input type='hidden' name='returnUrl' value='/thread?id=${thread.id}' /> \-->
               <!--</form>").submit();-->
			<!--});-->

			<!--$(".unlike-thread").on("click", function(event) {-->
				<!--var threadId = $(this).data("thread-id");-->
				<!--//Create an inline form and submit it to redirect with POST-->
				<!--$("<form action='<c:url value="/unlike-thread" />' method='POST'> \-->
                <!--<input type='hidden' name='threadId' value='" + threadId + "' /> \-->
                <!--<input type='hidden' name='returnUrl' value='/thread?id=${thread.id}' /> \-->
               <!--</form>").submit();-->
			<!--});-->

			<!--/* ************************-->
			 <!--*      Comment actions-->
			 <!--* ***********************/-->

			<!--//Comment replies-->
			<!--$(".reply-link").on("click", function (event) {-->
				<!--var $me = $(this);-->
				<!--if (!$me.data("form-shown")) {-->
					<!--var parentCommentId = $me.data("comment-id");-->
					<!--var $form = $("<form></form>");-->
					<!--$form.attr("action", "<c:url value="/reply" />");-->
					<!--$form.attr("method", "POST");-->
					<!--$form.css("margin-top", "10px");-->

					<!--//Thread and parent comment IDs-->
					<!--$form.append("<input type='hidden' name='threadId' value='${thread.id}' />");-->
					<!--$form.append("<input type='hidden' name='parentCommentId' value='" + parentCommentId + "' />");-->

					<!--//Text area-->
					<!--$form.append("<div class='row'> \-->
                        <!--<div class='input-field col s12'> \-->
                            <!--<textarea name='reply' class='materialize-textarea' required='required' /> \-->
                            <!--<label for='reply'>Your reply</label> \-->
                        <!--</div> \-->
                    <!--</div>");-->

					<!--//Submit button-->
					<!--$form.append("<div class='row'>	\-->
                        <!--<div class='col s4 offset-s5'>	\-->
                            <!--<button type='submit' class='col s6 btn btn-large waves-effect light-blue'>	\-->
                                <!--Submit <i class='material-icons right'>send</i>	\-->
                            <!--</button>	\-->
                        <!--</div>	\-->
                    <!--</div>");-->

					<!--$me.parent().parent().find(".action-form:first").html($form);-->
					<!--$me.data("form-shown", true);-->
					<!--$me.siblings(".edit-comment-link").data("form-shown", false);-->
					<!--$form.find("textarea").trigger('autoresize');-->
					<!--$form.find("textarea").focus();-->
				<!--} else {-->
					<!--$me.parent().parent().find(".action-form:first form textarea").focus();-->
				<!--}-->
			<!--});-->

			<!--//Comment edits-->
			<!--$(".edit-comment-link").on("click", function (event) {-->
				<!--var $me = $(this);-->
				<!--if (!$me.data("form-shown")) {-->
					<!--var commentId = $me.data("comment-id");-->
					<!--var comment = $me.data("comment").trim();-->
					<!--var $form = $("<form></form>");-->
					<!--$form.attr("action", "<c:url value="/edit-comment" />");-->
					<!--$form.attr("method", "POST");-->
					<!--$form.css("margin-top", "10px");-->

					<!--$form.append("<input type='hidden' name='commentId' value='"+ commentId +"' />");-->
					<!--$form.append("<input type='hidden' name='returnUrl' value='/thread?id=${thread.id}#" + commentId +"' />");-->

					<!--//Text area-->
					<!--$form.append("<div class='row'> \-->
                        <!--<div class='input-field col s12'> \-->
                            <!--<textarea name='newComment' class='materialize-textarea' required='required'>"+comment+"</textarea> \-->
                            <!--<label for='newComment'>Comment</label> \-->
                        <!--</div> \-->
                    <!--</div>");-->

					<!--//Submit button-->
					<!--$form.append("<div class='row'>	\-->
                        <!--<div class='col s4 offset-s5'>	\-->
                            <!--<button type='submit' class='col s6 btn btn-large waves-effect light-blue'>	\-->
                                <!--Submit <i class='material-icons right'>send</i>	\-->
                            <!--</button>	\-->
                        <!--</div>	\-->
                    <!--</div>");-->

					<!--$me.parent().parent().find(".action-form:first").html($form);-->
					<!--$me.data("form-shown", true);-->
					<!--$me.siblings(".reply-link").data("form-shown", false);-->
					<!--$form.find("textarea").trigger('autoresize');-->
					<!--$form.find("textarea").focus();-->
				<!--} else {-->
					<!--$me.parent().parent().find(".action-form:first form textarea").focus();-->
				<!--}-->
			<!--});-->

			<!--//Comment deletions-->
			<!--$(".delete-comment-link").on("click", function (event) {-->
				<!--var $me = $(this);-->
				<!--var commentId = $me.data("comment-id");-->
				<!--swal({-->
							<!--title: "Are you sure?",-->
							<!--text: "This comment and all replies will be permanently lost",-->
							<!--type: "warning",-->
							<!--showCancelButton: true,-->
							<!--confirmButtonColor: "#DD6B55",-->
							<!--confirmButtonText: "Yes",-->
							<!--cancelButtonText: "No",-->
							<!--closeOnConfirm: false-->
						<!--},-->
						<!--function(){-->
							<!--//Disable submit button to prevent multiple submissions-->
							<!--$(".confirm").attr('disabled', 'disabled');-->

							<!--//Create an inline form and submit it to redirect with POST-->
							<!--$("<form action='<c:url value="/delete-comment" />' method='POST'> \-->
                <!--<input type='hidden' name='commentId' value='" + commentId + "' /> \-->
                <!--<input type='hidden' name='returnUrl' value='/thread?id=${thread.id}' /> \-->
               <!--</form>").submit();-->
						<!--});-->
			<!--});-->

			<!--$(".like-comment").on("click", function(event) {-->
				<!--var commentId = $(this).data("comment-id");-->
				<!--//Create an inline form and submit it to redirect with POST-->
				<!--$("<form action='<c:url value="/like-comment" />' method='POST'> \-->
                <!--<input type='hidden' name='commentId' value='" + commentId + "' /> \-->
                <!--<input type='hidden' name='returnUrl' value='/thread?id=${thread.id}#" + commentId + "' /> \-->
               <!--</form>").submit();-->
			<!--});-->

			<!--$(".unlike-comment").on("click", function(event) {-->
				<!--var commentId = $(this).data("comment-id");-->
				<!--//Create an inline form and submit it to redirect with POST-->
				<!--$("<form action='<c:url value="/unlike-comment" />' method='POST'> \-->
                <!--<input type='hidden' name='commentId' value='" + commentId + "' /> \-->
                <!--<input type='hidden' name='returnUrl' value='/thread?id=${thread.id}#" + commentId + "' /> \-->
               <!--</form>").submit();-->
			<!--});-->
		<!--});-->
<!--</script>-->
