<div class="section">
    <h2 class="orange-text center">Reset your Password</h2>
</div>
<div class="section">
    <div class=" row">
        <div class="container">
            <div class="col s8 offset-s2">
                <div class="card-panel grey lighten-3 col s12">
                    <form name="form" class="css-form" ng-submit="resetPassword(form)" novalidate>
                        <div class='row'>
                            <div class='input-field col s6'>
                                <p>New Password</p>
                                <input type="password" id="passwordId" ng-minlength="6" ng-maxlength="100"
                                       ng-model="model.password" name="uPassword" required
                                       ng-class="{invalid: form.uPassword.$invalid && (form.uPassword.$touched || form.uPassword.$error.maxlength), valid: form.uPassword.$dirty && form.uPassword.$valid}"/>
                                <div ng-show="submitted || form.uPassword.$dirty">
                                    <span class="formError" ng-show="form.uPassword.$error.maxlength">Password needs to be 100 characters long or less.</span>
                                </div>
                                <div ng-show=" submitted || form.uPassword.$touched">
                                    <span class="formError" ng-show="form.uPassword.$error.required">Please type a new password.</span>
                                    <span class="formError" ng-show="form.uPassword.$error.minlength">Password needs to be at least 6 characters long.</span>
                                </div>
                            </div>
                            <div class='input-field col s6'>
                                <p>Repeat Password</p>
                                <input type="password" id="passwordId2" ng-model="model.repeatPassword"
                                       name="uRepeatPassword" required pw-check="passwordId"
                                       ng-class="{invalid:  form.uRepeatPassword.$invalid && form.uRepeatPassword.$touched, valid: form.uRepeatPassword.$dirty && form.uRepeatPassword.$valid}"/>
                                <div ng-show=" submitted || form.uRepeatPassword.$touched">
                                    <span class="formError" ng-show='form.uRepeatPassword.$error.pwmatch'>Passwords don't match.</span>
                                </div>
                            </div>
                            <label style='float: right; padding-right: 0.75rem'>
                                <a class='light-blue-text' href='' ng-click="resendToken()"><b>Token expired?</b></a>
                            </label>
                        </div>

                        <div class='row'>
                            <div class="col s3"></div>
                            <button type='submit' name='btn_register'
                                    class='col s6 btn btn-large waves-effect light-blue'
                                    ng-disabled="resetting">
                                {{resetting ? 'Resetting...' : 'Submit'}}
                                <i ng-show="!resetting" class="material-icons right">send</i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
