<main>
	<div class="container">
		<div class="section no-pad-bot">
			<!--TITLE-->
			<h2 class="header center orange-text wrap-text">
				<span>
					<a ng-if="game" ng-href="#game?id={{game.id}}"> {{game.name}} </a>
				 	Reviews
					<span ng-if="user">
						by <a ng-href="#profile?username={{user.username}}"> {{user.username}} <img class="circle" style="width:50px; height:50px; vertical-align: middle;" ng-src="{{apiLocation}}/users/{{user.id}}/picture"/></a>
					</span>
				</span>
			</h2>
		</div>
		<!--REVIEWS-->
		<div class="section no-pad-top">
			<div class="row">
				<div ng-if="reviews.length > 0">
                    <!--Sorting-->
                    <div ng-if="reviews.length > 1">
                        <div class="right-align" id="sorting">
                            <!--SORT BY SCORE-->
                            <button class="btn waves-effect waves-light" ng-class="{inactive: searchParams.orderBy !== 'best'}" ng-click="changeOrderBy('best')">
                                Highest Scoring
                                <i class="material-icons right" ng-if="searchParams.orderBy === 'best'">arrow_drop_{{searchParams.sortDirection === 'asc' ? 'up' : 'down'}}</i>
                            </button>
                            <!--SORT BY DATE-->
                            <button class="btn waves-effect waves-light" ng-class="{inactive: searchParams.orderBy !== 'date'}" ng-click="changeOrderBy('date')">
                                Newest
                                <i class="material-icons right" ng-if="searchParams.orderBy === 'date'">arrow_drop_{{searchParams.sortDirection === 'asc' ? 'up' : 'down'}}</i>
                            </button>
                        </div>
                    </div>
                    <!--End sorting-->
					<!--REVIEWS LIST-->
					<ul class="collection reviews-list">
						<li ng-repeat="review in reviews" class="collection-item avatar">
							<div class="row" style="margin-bottom: 10px">
								<div class="col s10">
									<span ng-if="!user && game">
										<!--Viewing reviews by game, variable is user-->
										<a ng-href="#profile?username={{review.username}}"><img ng-src="{{getReviewUserProfilePictureUrl(review)}}" alt="{{review.username}}" class="circle"></a>
										<span style="vertical-align: super" class="title wrap-text"> <a ng-href="#profile?username={{review.username}}">{{review.username}}</a> </span>
									</span>
									<span ng-if="user && !game">
										<!--Viewing reviews by user, variable is game-->
										<a ng-href="#game?id={{review.gameId}}"><img ng-src="{{review.gameCoverPictureUrl}}" alt="{{review.gameName}}" class="circle"/></a>
										<span style="vertical-align: super" class="title wrap-text"> <a ng-href="#game?id={{review.gameId}}">{{review.gameName}}</a> </span>
									</span>
									<span ng-if="user && game">
										<!--Viewing reviews by game and user, show user in picture but provide links to both game and user-->
										<a ng-href="#profile?username={{review.username}}"><img ng-src="{{getReviewUserProfilePictureUrl(review)}}" alt="{{review.username}}" class="circle"></a>
										<span style="vertical-align: super" class="title wrap-text">
											<a ng-href="#profile?username={{review.username}}">{{review.username}}</a>
											<a ng-href="#game?id={{review.gameId}}">{{review.gameName}}</a>
										</span>
									</span>
									<span ng-if="(review.overallScore<=10 && review.overallScore>0)" class="rating-number">
										<b style="vertical-align: super"> rated it </b>
										<span class="center">
											<rating-stars rating="review.overallScore" class="rating-stars hide-on-small-and-down"></rating-stars>
										</span>
									</span>
									<p style="margin-top: -10px" class="smallText">
										<a ng-if="!user && game" ng-href="#reviews?userId={{review.userId}}">Other reviews by
											{{review.username}}</a>
										<a ng-if="user && !game" ng-href="#reviews?gameId={{review.gameId}}">Other
											{{review.gameName}} reviews</a>
										<span ng-if="user && game">
											<a ng-href="#reviews?userId={{review.userId}}">Other
											reviews by {{review.username}}</a> | <a ng-href="#reviews?gameId={{review.gameId}}">Other
											{{review.gameName}} reviews</a>
										</span>
									</p>
									<p style="margin-top: -5px" ng-show="review.shelves.length > 0" class="wrap-text smallText"> Shelves:
										<span ng-repeat="shelf in review.shelves"><a ng-href="#list?id={{review.userId}}&shelf={{shelf.name}}">{{shelf.name}}</a>{{!$last ? ', ' : ''}}</span>
									</p>
								</div>
								<div class="col s2">
									<p class="right-align" style="color: black;">{{review.date | date: 'mediumDate'}}</p>
									<p class="right-align">
										<!--Un/like section-->
										<span>
                                                    <b style="vertical-align: text-bottom">{{review.likeCount}}</b>
											<!--Not logged in - black actionless thumbs up-->
                                                    <i ng-if="!isLoggedIn" class="material-icons black-text">thumb_up</i>
											<!--Logged in and liked - green thumbs up with action to unlike-->
                                                    <a title="Dislike" ng-if="isLoggedIn && isLikedByCurrentUser(review)" ng-click="unlikeReview(review)" ng-class="{disabled: review.likesDisabled}" href="">
                                                        <i class="material-icons green-text">thumb_up</i>
                                                    </a>
											<!--Logged in and not liked - black thumbs up with action to like-->
                                                    <a title="Like" ng-if="isLoggedIn && !isLikedByCurrentUser(review)" ng-click="likeReview(review)" ng-class="{disabled: review.likesDisabled}" href="">
                                                        <i class="material-icons black-text">thumb_up</i>
                                                    </a>
                                                </span>
										<!--End un/like section-->
										<a title="Edit" ng-if="canDeleteReview(review)" ng-href="#write-review?id={{gameId}}" class="material-icons blue-text text-lighten-1 "><i class="material-icons right">mode_edit</i></a>
										<a title="Delete" ng-if="canDeleteReview(review)" href="" class="material-icons red-text text-lighten-1" ng-click="deleteReview(review)"><i class="material-icons right">delete</i></a>
										<a title="{{review.user.social.followedByCurrentUser ? 'Unfollow' : 'Follow'}}" ng-if="canFollow(review.user)" href="" ng-class="review.user.social.followedByCurrentUser ? 'material-icons text-lighten-1' : 'material-icons black-text text-lighten-1'" ng-click="updateFollow(review.user)"><i class="material-icons right">{{review.user.social.followedByCurrentUser ? "person" : "person_add"}}</i></a>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<p class="wrap-text preserve-newlines">{{review.body}}</p>
								</div>
							</div>
						</li>
					</ul>
					<!--END REVIEWS LIST-->
                    <!--Page size controller-->
                    <div ng-show="reviewsPaginator.pagination.totalElements > pageSizes[0]" class="row">
                        <div class="col s2 offset-s5">
                            <label for="page-size">Page Size</label>
                            <select id="page-size" class="browser-default" ng-model="searchParams.pageSize">
                                <option ng-repeat="pageSize in validPageSizes()" ng-value="pageSize">{{pageSize}}</option>
                            </select>
                        </div>
                    </div>
                    <!--End page size-->
                    <!-- Page numbers -->
                    <div ng-if="reviewsPaginator.pagination.totalPages > 1" class="row">
                        <ul class="pagination center">
                            <!-- Left chevrons - only shown when there are > 1 pages -->
                            <!--First page-->
                            <li ng-if="reviewsPaginator.pagination.totalPages > 1" ng-class="reviewsPaginator.pagination.pageNumber > 1 ? 'waves-effect' : 'disabled'">
                                <a href="" ng-click="setPageNumber(1)">
                                    <i class="material-icons">first_page</i>
                                </a>
                            </li>
                            <!--Previous page-->
                            <li ng-if="reviewsPaginator.pagination.totalPages > 1" ng-class="reviewsPaginator.pagination.pageNumber > 1 ? 'waves-effect' : 'disabled'">
                                <a href="" ng-click="setPageNumber(searchParams.pageNumber - 1)">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>

                            <!--Page numbers - always shown-->
                            <li ng-repeat="pageIt in getPageRange()"  ng-class="pageIt == reviewsPaginator.pagination.pageNumber ? 'active' : 'waves-effect'">
                                <a href="" ng-click="setPageNumber(pageIt)">{{pageIt}}</a>
                            </li>

                            <!--Right chevrons - only shown if there are > 1 pages-->
                            <!--Next page-->
                            <li ng-if="reviewsPaginator.pagination.totalPages > 1" ng-class="reviewsPaginator.pagination.pageNumber < reviewsPaginator.pagination.totalPages ? 'waves-effect' : 'disabled'">
                                <a href="" ng-click="setPageNumber(reviewsPaginator.pagination.pageNumber + 1)">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                            <!--Last page-->
                            <li ng-if="reviewsPaginator.pagination.totalPages > 1" ng-class="reviewsPaginator.pagination.pageNumber < reviewsPaginator.pagination.totalPages ? 'waves-effect' : 'disabled'">
                                <a href="" ng-click="setPageNumber(reviewsPaginator.pagination.totalPages)">
                                    <i class="material-icons">last_page</i>
                                </a>
                            </li>
                        </ul>
                    </div>
					<!-- End page numbers -->
				</div>

				<!--NO REVIEWS-->
				<h5  ng-if="reviews.length == 0" class="center">No reviews yet!
					<div ng-if="!isLoggedIn"><a href="#register">Sign up</a> or <a href="#login">log in</a> to write the first one!</div>
				</h5>

				<!--Review button-->
				<div ng-if="!user && canWriteReview" class="row">
					<div class="col s12 center">
						<a ng-href="#write-review?id={{game.id}}"
						   class="center btn waves-effect waves-light offset-s4" style="">Write a Review <i
								class="material-icons right">send</i></a>
					</div>
				</div>

                <!--&lt;!&ndash;PAGE SIZE&ndash;&gt;-->
                <!--<div ng-if="reviews.length > 0" class="row">-->
				<!--<span>-->
					<!--<div class="input-field col s2 offset-s5">-->
						<!--&lt;!&ndash;<select ng-change="updatePageSize()" ng-model="pageSizeSelected" ng-options="pageSizeValue for pageSizeValue in pageSizes" class="browser-default"></select>&ndash;&gt;-->
                        <!--&lt;!&ndash;<select class="browser-default" ng-options="pageSizeValue for pageSizeValue in pageSizes" ng-model="pageSizeSelected" ng-change="updatePageSize()"></select>&ndash;&gt;-->
						<!--<select class="browser-default" ng-model="pageSizeSelected" ng-change="updatePageSize(pageSizeSelected)">-->
							<!--<option ng-repeat="pageSizeValue in pageSizes" ng-value="pageSizeValue"> {{pageSizeValue}} </option>-->
						<!--</select>-->
					<!--</div>-->
					<!--<label>Reviews per page</label>-->
				<!--</span>-->
                <!--</div>-->

			</div>
		</div>
		<!--END REVIEWS-->

	</div>
</main>

<script type="text/javascript">
	//	$(function() {
	//		$("#pageSize").on("change", function() {
	//			window.location = "${changePageUrl}pageSize=" + $(this).val();
	//		});
	//	});
</script>
