<main>
	<div class="container">
		<div class="section no-pad-bot">
			<!--TITLE-->
			<h2 class="header center orange-text wrap-text">
				<span>
					<a ng-if="game" ng-href="#game?id={{game.id}}"> {{game.name}} </a>
				 	Reviews
					<span ng-if="user">
						by <a ng-href="#profile?username={{user.username}}"> {{user.username}} <img
							class="circle" style="width:50px; height:50px; vertical-align: middle;"
							ng-src="{{apiLocation}}/users/{{user.id}}/picture"/></a>
					</span>
				</span>
			</h2>
			<!--PAGE SIZE-->
			<div ng-if="reviews.length > 0" class="row">
				<span>
					<div class="input-field col s2 offset-s5">
						<!--<select ng-change="updatePageSize()" ng-model="pageSizeSelected" ng-options="pageSizeValue for pageSizeValue in pageSizes" class="browser-default"></select>-->
						<!--<select class="browser-default" ng-options="pageSizeValue for pageSizeValue in pageSizes" ng-model="pageSizeSelected" ng-change="updatePageSize()"></select>-->
						<select class="browser-default" ng-model="pageSizeSelected" ng-change="updatePageSize(pageSizeSelected)">
							<option ng-repeat="pageSizeValue in pageSizes" ng-value="pageSizeValue"> {{pageSizeValue}} </option>
						</select>
					</div>
					<label>Reviews per page</label>
				</span>
			</div>
		</div>
		<!--REVIEWS-->
		<div class="section no-pad-top">
			<div class="row">
				<div ng-if="reviews.length > 0">
					<!--REVIEWS LIST-->
					<ul class="collection reviews-list">
						<li ng-repeat="review in reviews" class="collection-item avatar">
							<div class="row">
								<div class="col s10">
									<div ng-if="!user && game">
										<!--Viewing reviews by game, variable is user-->
										<img ng-src="{{apiLocation}}/users/{{review.userId}}/picture"
											 alt="{{review.username}}" class="circle"/>
										<span class="title wrap-text">
                                                <a ng-href="#profile?userId={{review.userId}}">{{review.username}}</a>
                                            </span>
									</div>
									<div ng-if="user && !game">
										<img ng-src="{{review.gameCoverPictureUrl}}" alt="{{review.gameName}}" class="circle"/>
										<span class="title wrap-text">
											<a ng-href="#game?id={{review.gameId}}">{{review.gameName}}</a>
										</span>
									</div>
									<div ng-if="user && game">
										<!--Viewing reviews by game and user, show user in picture but provide links to both game and user-->
										<img ng-src="{{apiLocation}}/users/{{review.userId}}/picture"
											 alt="{{review.username}}" class="circle">
										<span class="title wrap-text">
											<a ng-href="#game?id={{review.gameId}}">{{review.gameName}}</a> | <a
												ng-href="#profile?userId={{review.userId}}">{{review.username}}</a>
										</span>
									</div>
									<p class="wrap-text">
										<a ng-if="!user && game" ng-href="#reviews?userId={{review.userId}}">Other reviews by
											{{review.username}}</a>
										<a ng-if="user && !game" ng-href="#reviews?gameId={{review.gameId}}">Other
											{{review.gameName}} reviews</a>
										<span ng-if="user && game">
												<a ng-href="#reviews?gameId={{review.gameId}}">Other
												{{review.gameName}} reviews</a> | <a ng-href="#reviews?userId={{review.userId}}">Other
												reviews by {{review.username}}</a>
											</span>
									</p>
								</div>
								<div class="col s2">
									<p class="secondary-content" style="color: black;">{{review.date | date: 'mediumDate'}}
										<a ng-if="canDeleteReview(review)" ng-click="deleteReview(review)"
										   class="material-icons red-text text-lighten-1 delete-button">
											<i class="material-icons right">delete</i>
										</a>
									</p>
								</div>
							</div>
							<div class="row">
								<p class="col s10 wrap-text preserve-newlines">{{review.body}}</p>
								<div class="col s2">
									<p style="color: #26a69a;">
										Story: <span class="right">{{review.storyScore}}</span>
										<br/>
										Graphics: <span class="right">{{review.graphicsScore}}</span>
										<br/>
										Audio: <span class="right">{{review.audioScore}}</span>
										<br/>
										Controls: <span class="right">{{review.controlsScore}}</span>
										<br/>
										Fun: <span class="right">{{review.funScore}}</span>
										<br/>
										<b>Overall: <span class="right">{{overallReviewScore(review) | number : 2}}</span></b>
									</p>
								</div>
							</div>
						</li>
					</ul>
					<!--END REVIEWS LIST-->
					<!--PAGINATION-->
					<div ng-if="totalPages > 1" class="row">
						<ul class="pagination center">
							<!--Left chevron - only shown when there are > 1 pages -->
							<div ng-if="totalPages > 1">

								<li ng-if="pageNumber > 1" class="waves-effect">
									 <!--TODO borrar. asi era antes: <a ng-href="${changePageUrl}pageNumber=${reviews.pageNumber - 1}&pageSize=${reviews.pageSize}">-->
									<a ng-click="changePageNumber(pageNumber-1)">
										<i class="material-icons">chevron_left</i>
									</a>
								</li>

								<li ng-if="pageNumber <= 1" class="disabled">
									<a href="#!">
										<i class="material-icons">chevron_left</i>
									</a>
								</li>
							</div>

							<!--Page numbers - always shown-->

							<li ng-repeat="pageIt in rangePagination"  ng-class="pageIt == pageNumber ? 'active' : 'waves-effect'">
								<a ng-if="pageIt == pageNumber"> {{pageIt}} </a>
								<a ng-if="pageIt != pageNumber" ng-click="changePageNumber(pageIt)"> {{pageIt}} </a>
							</li>
							<!--Right chevron - only shown if there are > 1 pages-->

							<div ng-if="totalPages > 1">
								<li class="disabled" ng-if="pageNumber == totalPages">
									<a href="#!"> <i class="material-icons">chevron_right</i> </a>
								</li>

								<li class="waves-effect" ng-if="pageNumber != totalPages">
									<a ng-click="changePageNumber(pageNumber+1)">
										<i class="material-icons">chevron_right</i>
									</a>
								</li>
							</div>
						</ul>
					</div>
					<!--END PAGINATION-->
				</div>

				<!--NO REVIEWS-->
				<h5  ng-if="reviews.length == 0" class="center">No reviews yet!
					<a ng-if="!isLoggedIn()" href="#register">Sign up</a> or <a href="#login">log in</a> to write the first one!
				</h5>


				<!--Review button-->
				<div ng-if="!user && canWriteReview" class="row">
					<div class="col s12 center">
						<a ng-href="#write-review?id={{game.id}}"
						   class="center btn waves-effect waves-light offset-s4" style="">Write a Review <i
								class="material-icons right">send</i></a>
					</div>
				</div>
			</div>
		</div>
		<!--END REVIEWS-->
	</div>
</main>

<script type="text/javascript">
	//	$(function() {
	//		$("#pageSize").on("change", function() {
	//			window.location = "${changePageUrl}pageSize=" + $(this).val();
	//		});
	//	});
</script>
