<main>

<div class="container">
	<div class="section">
		<h2 class="header center orange-text">Write a review for<br/><a ng-href="#game?id={{gameId}}">{{game.name}}</a></h2>
	</div>
	<!--REVIEW FORM-->
	<div ng-show="game !== null">

		<!--ACTION FORMS-->
		<!--class="section"-->
		<div >
			<div class="row">
				<div class="col s1">
				</div>
				<div class="col s10 center-align">
					<div class="row" style="margin-bottom:0;">
						<div class="col s3 center-align">
							<label>Score: </label>
							<ng-input>
								<select ng-model="gameScore" class="browser-default" ng-change="updateScore()">
									<option value="delete">Select score</option>
									<option ng-repeat="score in rangeScore">{{score}}</option>
								</select>
								<span ng-if="loadingScore">Loading...</span>
								<span ng-if="updatedScore && !loadingScore">Updated!</span>
							</ng-input>
						</div>
						<div class="col s3 center-align">
							<label>PlayStatus: </label>
							<ng-input>
								<select ng-model="gamePlayStatus" class="browser-default" ng-change="updatePlayStatus()">
									<option value="no-play-status">Select play status</option>
									<option ng-repeat="playStatus in playStatusOptions">{{playStatus}}</option>
								</select>
								<span ng-if="loadingStatus">Loading...</span>
								<span ng-if="updatedStatus && !loadingStatus">Updated!</span>
							</ng-input>
						</div>
						<div class="col s6 center-align" class="divWithShelves">
							<label>Shelves: </label>
							<ng-input>
								<p ng-show="shelves.length === 0">You have no shelves. Why not <a ng-href="#list">create one</a>?</p>
								<div ng-show="shelves.length > 0">
									<select id="shelves"  ng-model="shelvesWithGame" ng-change="updateShelfSelect()" multiple>
										<option value="" disabled selected>Select shelves</option>
										<option ng-repeat="shelf in shelves" value="{{shelf.name}}" ng-selected="isInShelf(shelf.name)"> {{shelf.name}} </option>
									</select>
									<span ng-if="loadingShelves">Loading...</span>
									<span ng-if="updatedShelves && !loadingShelves">Updated!</span>
								</div>
							</ng-input>
						</div>
					</div>
				</div>
				<!--<button id="delete-button" class="btn waves-effect waves-light red lighten-1">Remove <i class="material-icons right">delete</i></button>-->
			</div>
		</div>
	</div>
	<div class="section">
		<!--END ACTION FORMS-->
		<div class="row">
			<div class="col s12">
				<form ng-submit="submitReview()">
					<div class="row">
						<div class="col s1">
						</div>
						<div class="col s10">
							<div class="input-field">
								<div class="input-field col s12">
									<i class="material-icons prefix">mode_edit</i>
									<label for="review" class="active">Review</label>
									<textarea id="review" ng-model="review" class="materialize-textarea" data-length="10000" required="true"></textarea>
								</div>
							</div>
						</div>
						<div class="col s1">
						</div>
					</div>
					<div class="row center">
						<button class="btn-large waves-effect waves-light" type="submit">
							Submit <i class="material-icons right">send</i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--END REVIEW FORM-->
</div>
</main>