<main>

    <div ng-show="!isLoggedIn()">
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h1 class="header center orange-text">PowerUp</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Your videogame database and discovery platform</h5>
                </div>
                <div class="row">
                    <div class="col s12 m8 offset-m2 l6 offset-l3">
                        <form ng-submit="submitSearch()" id="search-form">
                            <div class="input-field">
                                <input type="search" ng-model="gameTitle" name="name" id="indexSearchBar"/>
                                <i class="material-icons" ng-click="submitSearch()" style="color:black;" id="search-icon">search</i>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <br />
            </div>
        </div>
        <div class="container">
            <div class="section">
                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">search</i></h2>
                            <h5 class="center">Search</h5>
                            <p class="light">
                                Our extensive game database, powered by <a href="http://www.igdb.com" target="_blank">IGDB.com</a>, contains games
                                from every year, every console, every publisher, every genre, every developer that you could think of. Dive into
                                the little details of every game that you played in your childhood or plan to play in the future.
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">visibility</i></h2>
                            <h5 class="center">Discover</h5>
                            <p class="light">
                                Discover new games based on your searches and game history. With our game suggestion engine
                                you will find so many cool games that you will wonder why you didn't come across them earlier.
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">Compare (coming soon)</h5>
                            <!--TODO cambiar nombre-->
                            <p class="light">
                                Join the PowerUp community and compare game collections and interests. Maybe you'll find
                                someone who has played through every single released Mario game in history? How will your
                                collection compare to others'?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Updates!-->
    <div ng-show="isLoggedIn()">
        <div class="row">
            <div class="col s2" style="padding-right: 0">
                <div class="section no-pad-top no-pad-bot">
                    <ul class="collection actions-feed-list" >
                        <li class="collection-item avatar" style="padding-left: 20px">
                            <h6> Search and find games!</h6>
                            <form ng-submit="submitSearch()">
                                <div class="input-field">
                                    <i class="material-icons prefix" ng-click="submitSearch()" style="color:black; padding-top: 15px;" id="search-icon2">search</i>
                                    <input type="text" ng-model="gameTitle" name="name" id="indexSearchBar2"/>
                                </div>
                            </form>
                        </li>
                        <li class="collection-item avatar" style="padding-left: 20px">
                            <p> Follow the users you like!</p>
                            <p> Add them here!</p>
                            <form ng-submit="followFriend()">
                                <div class="input-field">
                                    <i class="material-icons prefix" ng-click="followFriend()" style="color:black; padding-top: 15px;">person_add</i>
                                    <input type="text" ng-model="friendName" name="friendName"/>
                                </div>
                            </form>
                            <p ng-if="loadingFollowFriend">Loading...</p>
                            <p ng-if="!loadingFollowFriend && followFriendError" class="formError">{{followFriendErrorMsj}}</p>
                            <p ng-if="!loadingFollowFriend && !followFriendError && followFriendSend" ng-init="reloadFeed()">User added!</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s10">
                <div class="section no-pad-top no-pad-bot">
                    <ul class="collection feed-list">
                        <li ng-repeat="feedElement in feed" class="collection-item avatar">
                            <div ng-if="feedElement.type === 'review' ">
                                <div  class="row" style="margin-bottom: 0">
                                    <div class="col s10">
                                        <a ng-href="#profile?username={{feedElement.data.username}}">
                                            <img ng-src="{{profilePictureUrl(feedElement.data.userProfilePictureUrl)}}" alt="{{feedElement.data.username}}" class="circle">
                                        </a>
                                        <span class="title wrap-text">
                                        <a ng-href="#profile?username={{feedElement.data.username}}">{{feedElement.data.username}}</a>
                                        <span class="mediumText">reviewed</span>
                                        <a ng-href="#game?id={{feedElement.data.gameId}}">{{feedElement.data.gameName}}</a>
                                    </span>
                                    <p class="wrap-text smallText">
                                        <span>
                                            <a ng-href="#reviews?userId={{feedElement.data.userId}}">Other
                                            reviews by {{feedElement.data.username}}</a> | <a ng-href="#reviews?gameId={{feedElement.data.gameId}}">Other
                                            {{feedElement.data.gameName}} reviews</a>
                                        </span>
                                    </p>
                                        <p ng-show="feedElement.data.shelves.length > 0" class="wrap-text smallText"> Shelves:
                                            <span ng-repeat="shelf in feedElement.data.shelves"><a ng-href="#list?id={{feedElement.data.userId}}&shelf={{shelf.name}}">{{shelf.name}}</a>{{!$last ? ', ' : ''}}</span>
                                        </p>
                                    </div>
                                    <div class="col s2">
                                        <p class="right-align" style="color: black;">{{feedElement.data.date | date: 'mediumDate'}}</p>
                                        <p class="right-align">
                                            <a ng-if="canDeleteReview(feedElement.data)" ng-href="#write-review?id={{gameId}}" class="material-icons blue-text text-lighten-1 "><i class="material-icons right">mode_edit</i></a>
                                            <a ng-if="canDeleteReview(feedElement.data)" ng-click="deleteReview(feedElement.data)" href=""
                                               class="material-icons red-text text-lighten-1 delete-button ">
                                                <i class="material-icons right">delete</i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s10">
                                        <p class="wrap-text preserve-newlines">{{feedElement.data.body}}</p>
                                    </div>
                                    <div class="col s2">
                                        <div ng-switch="(feedElement.data.overallScore<=10 && feedElement.data.overallScore>0)">
                                            <div ng-switch-when="true">
                                                <p class="rating-number"><b>Overall: <span class="right">{{feedElement.data.overallScore}}</span></b></p>
                                            </div>
                                            <div ng-switch-default>
                                                <p class="rating-number center"><b>Unrated</b></p>
                                            </div>
                                        </div>
                                        <p style="color: #26a69a;">
                                            Story: <span class="right">{{feedElement.data.storyScore}}</span>
                                            <br/>
                                            Graphics: <span class="right">{{feedElement.data.graphicsScore}}</span>
                                            <br/>
                                            Audio: <span class="right">{{feedElement.data.audioScore}}</span>
                                            <br/>
                                            Controls: <span class="right">{{feedElement.data.controlsScore}}</span>
                                            <br/>
                                            Fun: <span class="right">{{feedElement.data.funScore}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="feedElement.type === 'thread'">
                                <div class="row" style="margin-bottom: 0">
                                    <div class="col s9">
                                        <a ng-href="#profile?username={{feedElement.data.creator.username}}">
                                            <img ng-src="{{profilePictureUrl(feedElement.data.creator.profilePictureUrl)}}" alt="{{feedElement.data.creator.username}}" class="circle">
                                        </a>
                                        <span class="title wrap-text">
                                            <a ng-href="#profile?username={{feedElement.data.creator.username}}">{{feedElement.data.creator.username}}</a>
                                            <span class="mediumText">started the thread </span>
                                            <a ng-href="#thread/{{feedElement.data.id}}">{{feedElement.data.title}}</a>
                                        </span>
                                        <!--<p>Submitted {{feedElement.data.createdAt | date: 'medium'}} by <a ng-href="#profile?username={{feedElement.data.creator.username}}">{{feedElement.data.creator.username}}</a></p>-->
                                    </div>
                                    <div class="col s3">
                                        <!--Un/like section-->
                                        <div class="right-align">
                                            <p>
                                                {{feedElement.data.createdAt | date: 'mediumDate'}}
                                            </p>
                                            <p>
                                                <b style="vertical-align: text-bottom">{{feedElement.data.likeCount}}</b>
                                                <!--Not logged in - black actionless thumbs up-->
                                                <i ng-if="!isLoggedIn()" class="material-icons black-text">thumb_up</i>
                                                <!--Logged in and liked - green thumbs up with action to unlike-->
                                                <a ng-if="isLoggedIn() && isLikedByCurrentUser(feedElement.data)" ng-click="unlikeThread(feedElement.data)" ng-class="{disabled: feedElement.data.likesDisabled}" href="">
                                                    <i class="material-icons green-text">thumb_up</i>
                                                </a>
                                                <!--Logged in and not liked - black thumbs up with action to like-->
                                                <a ng-if="isLoggedIn() && !isLikedByCurrentUser(feedElement.data)" ng-click="likeThread(feedElement.data)" ng-class="{disabled: feedElement.data.likesDisabled}" href="">
                                                    <i class="material-icons black-text">thumb_up</i>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p class="truncate">{{feedElement.data.body}}</p>
                            </div>
                            <div ng-if="feedElement.type === 'status'">
                                <div class="row">
                                    <div class="col s9">
                                        <a ng-href="#profile?username={{feedElement.data.username}}">
                                            <img ng-src="{{profilePictureUrl(feedElement.data.profilePictureUrl)}}" alt="{{feedElement.data.username}}" class="circle">
                                        </a>
                                        <span class="title wrap-text">
                                            <a ng-href="#profile?username={{feedElement.data.username}}">{{feedElement.data.username}}</a>
                                            <span class="mediumText">changed </span>
                                            <a ng-href="#game?id={{feedElement.data.gameId}}">{{feedElement.data.gameName}}</a> <span class="mediumText">play status to {{feedElement.data.status}}</span>
                                        </span>
                                    </div>
                                    <div class="col s3">
                                        <p class="right-align">
                                            {{feedElement.data.date | date: 'mediumDate'}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="center">
                    <button class="btn" ng-show="thereAreMore" ng-disabled="loadingFeed || !thereAreMore" ng-click="loadMoreFeed()">Load More</button>
                </div>
                <div ng-show="loadingFeed" class="center">
                    <loading-circle></loading-circle>
                    <h5>Loading more...</h5>
                </div>
                <h5 ng-if="!loadingFeed && !thereAreMore && feed.length > 0" class="center">Congrats! You've reached the end!</h5>
                <h5 ng-if="!loadingFeed && !thereAreMore && feed.length <= 0" class="center">This is your feed. Follow users to be updated!</h5>
            </div>
        </div>

        <div class="row"><div class="col s12 divider" style="margin-top: 5px;"></div></div>
        <!-- Recommended games -->
        <div class="row container">
            <div class="col offset-s2 s10 center">
                <div ng-show="loadingRecommended">
                    <h5>Getting game recommendations for you...</h5>
                    <loading-circle></loading-circle>
                </div>
                <div ng-if="recommendedGames && recommendedGames.length > 0" class="row">
                    <h5>Recommended games for you</h5>
                    <div class="slick-carousel" id="recommended-carousel">
                        <div class="slide-container" ng-repeat="game in recommendedGames" on-complete="recommendedRendered">
                            <a ng-href="#game?id={{game.id}}">
                                <img ng-attr-data-lazy="{{game.coverPictureUrl}}" class="valign"/>
                            </a>
                            <h5 class="center slide-text">
                                <a ng-href="#game?id={{game.id}}">{{game.name}}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
