<main class="section container">
    <div ng-if="requestedUser === null" class="center">
        <h5>Fetching profile...</h5>
        <loading-circle></loading-circle>
    </div>
    <div ng-if="requestedUser !== null">
        <h1 class="center orange-text">{{username}}'s Profile</h1>
        <div class="row">
            <div class="col s4">
                <img ng-if="requestedUser" ng-src="{{profile.picture.url || profile.picture.data}}" style="max-width: 100%; height:auto;"/>
                <div ng-if="canChangePicture()">
                    <form id="pictureForm">
                        <div class="file-field input-field">
                            <div class="btn waves-effect waves-light">
                                <span>Upload picture</span>
                                <input type="file" accept=".jpeg, .jpg, .png, .gif" ngf-select="parseProfilePicture($file)" required>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path" type="text" />
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="pictureSubmitDisabled" ng-click="uploadProfilePicture()">{{pictureSubmitDisabled ? "Processing..." : "Submit"}} <i class="material-icons right">send</i></button>
                        <span ng-if="profile.picture.canDelete">
                        or <a href="" class="red-text" ng-click="deleteProfilePicture()">delete profile picture</a>
                    </span>
                    </form>
                </div>
                <br />
                <button ng-if="isCurrentUser(requestedUser)" class="btn waves-effect waves-light" ng-click="changePassword()">Change Password</button>
                <button ng-if="canFollow()" class="btn waves-effect waves-light" ng-disabled="followDisabled" ng-click="updateFollow()">{{requestedUser.social.followedByCurrentUser ? "Unfollow" : "Follow"}}<i class="material-icons right">add person</i></button>
            <br />
                <h5>Profile Stats</h5>
                <p>Followers: <b>{{requestedUser.social.followersCount}}</b></p>
                <p>Following: <b>{{requestedUser.social.followingCount}}</b></p>
                <p><b>{{profile.gamesAmount}}</b> <ng-pluralize count="profile.gamesAmount" when="{'one': 'game', 'other': 'games'}"></ng-pluralize> in <a ng-href="#list?id={{requestedUser.id}}">game list</a></p>
            </div>
            <div class="col s8">
                <h4 class="center" ng-if="profile.top10.length > 0">Top 10 games</h4>
                <p class="center" ng-if="profile.top10.length === 0">
                    No scored games. <span ng-if="isCurrentUser(requestedUser)">Why don't you <a href="#search">search</a> and score some?</span>
                </p>
                <ul class="collection games-list" ng-if="profile.top10.length > 0">
                    <!--<c_forEach var="entry" items="${topGames}">-->
                        <!--<c_set var="game" value="${entry.key}" />-->
                        <!--<c_set var="score" value="${entry.value}" />-->
                    <!--</c_forEach>-->

                    <li class="collection-item avatar col s12" ng-repeat="entry in profile.top10">
                        <!--TODO make this into a directive-->
                        <div class="col s2 cover-pic-container valign-wrapper">
                            <img class="cover-picture valign" ng-src="{{entry.gameCoverPictureUrl}}" alt="{{entry.gameName}}">
                        </div>
                        <div class="col primary-content s7">
                            <p class="title">
                                <a ng-href="#game?id={{entry.gameId}}">{{entry.entryName}}</a>
                            </p>
                            <p class="summary" style="display: -webkit-box">{{entry.gameSummary || "No summary"}}</p>
                        </div>
                        <div class="col s1 center">
                            <p style="margin-top: 33px;">{{entry.gameReleaseDate != null ? (game.releaseDate | date : 'yyyy') : "Unknown" }}</p>
                        </div>
                        <div class="col s2">
                            <div class="secondary-content">
                                <div ng-switch="(entry.score <= 10 && entry.score > 0)">
                                    <div ng-switch-when="true">
                                        <!--TODO get score by user, not general score-->
                                        <p class="rating-number center"><b><span>{{entry.score | limitTo:4}}</span></b>
                                        </p>
                                        <p class="rating-stars hide-on-small-and-down">
                                            <!--range(0,4)-->
                                        <div ng-repeat="i in [0,1,2,3,4]">
                                            <div ng-if="(entry.score - (i * 2) - 1 ) < 0">
                                                <i class="material-icons">star_border</i>
                                            </div>
                                            <div ng-if="(entry.score - (i * 2) - 1 ) == 0">
                                                <i class="material-icons">star_half</i>
                                            </div>
                                            <div ng-if="(entry.score - (i * 2) - 1) > 0">
                                                <i class="material-icons">star</i>
                                            </div>
                                        </div>
                                        </p>
                                    </div>
                                    <div ng-switch-default>
                                        <p class="rating-number center"><b>Unrated</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
